<template name='accomplishment'>
<article class='accomplishment' id='{{_id}}'>
<div class='vote-container pull-left'>
<div>
<a href='/accomplishments/{{_id}}' title='Link'><i class="icon-bookmark {{isActive "single" _id}}"></i></a>
</div>
{{> voteContainer}}
</div>
<div class='body'>
{{#if user}}
<nav class='icons pull-right'>
{{#if isMe user}}
<li>
<a href='/achievements/{{achievement._id}}/accomplish/text' title='Edit'>
<i class='icon-pencil'></i>
</a>
</li>
<li>
<a href='/accomplishments/{{_id}}/talk' title='Reply'>
<i class='icon-share-alt'></i>
</a>
</li>
{{/if}}
</nav>
{{> userActivity}}
{{/if}}
{{#with achievement}}
<div class='embed well well-small'>
{{> embedAchievement}}
</div>
{{/with}}
{{#if story}}
<div class='story part'>
{{#markdown}}{{{story}}}{{/markdown}}
</div>
{{/if}}
<a class='icon-side add-tag' title='Add a tag'><i class='icon-tags'></i></a>
<div class='part'>
{{> tags}}
</div>
{{#if numComments}}
<a class='icon-side' href='/accomplishments/{{_id}}/talk' title='Comments'><i class='icon-comment'></i></a>
<div class='part'>
<a class='times part' href='/accomplishments/{{_id}}/talk'>
{{numComments}} comments
</a>
</div>
{{/if}}
</div>
</article>
{{#if equals "single" _id}}
<div class='fold'></div>
<h5 class='heading line'>Comments</h5>
{{> filter}}
<div class='clearfix'></div>
{{> comments}}
{{/if}}
</template>
