<template name='accomplish'>
{{#if session "story"}}
{{#if equals "story" "text"}}
{{#constant}}
<div class='editor'>
<div id='toolbar'></div>
<textarea class='ta100' id='editor' rows='10'>{{story}}</textarea>
<span class='help-block'><strong>HINT:</strong>
You can style your post using
<a href='http://daringfireball.net/projects/markdown/' target='_blank'>Markdown</a>
.</span>
</div>
<div class='preview hide' id='preview'></div>
<footer class='form-actions'>
{{#if accomplishment}}
<a class='btn btn-large create' style='margin-left: -20px'>Save</a>
{{else}}
<a class='btn btn-success btn-large create' style='margin-left: -20px'>Accomplish</a>
{{/if}}
<a class='btn btn-large editor'>Preview</a>
<a class='btn btn-large preview hide'>Edit</a>
</footer>
{{/constant}}
{{/if}}
{{else}}
<div class='btn-toolbar'>
<div class='btn-group'>
{{#if accomplishment}}
<a class='btn btn-danger btn-large uncreate'>Unaccomplish</a>
{{else}}
<a class='btn btn-success btn-large create'>Accomplish</a>
{{/if}}
<a class='btn btn-large' href='/achievements/{{_id}}/accomplish/text' title='Text'>
<i class='icon-align-left'></i>
</a>
<a class='btn btn-large' href='/achievements/{{_id}}/accomplish/picture' title='Picture'>
<i class='icon-picture'></i>
</a>
<a class='btn btn-large' href='/achievements/{{_id}}/accomplish/video' title='Video'>
<i class='icon-film'></i>
</a>
<a class='btn btn-large' href='/achievements/{{_id}}/accomplish/link' title='Link'>
<i class='icon-bookmark'></i>
</a>
</div>
</div>
{{/if}}
</template>
