%template(name='accomplishModal')
  {{#if achievement}}
  %header.modal-header
    %button.close(type="button" data-dismiss="modal") ×
    %h5.heading Achievement unlocked

  .modal-body
    {{#with achievement}}
    {{> embedAchievement}}
    {{/with}}
  {{/if}}
