%template(name='accomplishment')
  %article.accomplishment(id="{{_id}}")
    {{#if user}}
    %nav.icons.btn-group.pull-right
      %a.btn.btn-mini(title="Link" href="/accomplishments/{{_id}}")<
        <i class="icon-bookmark {{isActive "single" _id}}"></i>
      {{#if isMe user}}
      %a.btn.btn-mini(href="/achievements/{{achievement._id}}/accomplish/text" title="Edit")
        %i.icon-pencil
      {{/if}}
      %a.btn.btn-mini(href="/accomplishments/{{_id}}/talk" title="Comment")
        %i.icon-comment

    {{> user}}
    {{> voteContainer}}
    {{/if}}
    .clearfix

    {{#with achievement}}
    .embed.well.well-small
      {{> embedAchievement}}
    {{/with}}

    {{#if story}}
    -#%a.icon-side(title="Text" href="/accomplishments/{{_id}}/text")<
      %i.icon-align-left
    .story
      {{#markdown}}{{{story}}}{{/markdown}}
    {{/if}}

    -#%a.icon-side.add-tag(title="Add a tag")<
      %i.icon-tags
    {{> tags}}

    {{#if numComments}}
    -#%a.icon-side(title="Comments" href="/accomplishments/{{_id}}/talk")<
      %i.icon-comment
    %a.times.part(href="/accomplishments/{{_id}}/talk")
      {{numComments}} comments
    {{/if}}

  -# {{#if equals "single" _id}}
  -# .fold
  -# %h5.heading.line Comments
  -# {{> filter}}
  -# .clearfix
  -# {{> comments}}
  -# {{/if}}

  -#{{#with achievement}}
  -#.minimal
  -#  {{> achievement}}
  -#{{/with}}
  -#
  -#{{#if story}}
  -#.story
  -#  .vote-container.pull-left
  -#    %div
  -#      %a.href(title="Link" href="/accomplishments/{{_id}}")<
  -#        <i class="icon-bookmark"></i>
  -#    %div
  -#      %a.vote(data-up="true")<
  -#        <i class="icon-arrow-up {{voted "up"}}" title="Vote up"></i>
  -#    %div
  -#      %span.count {{score}}
  -#    %div
  -#      %a.vote(data-up="false")<
  -#        <i class="icon-arrow-down {{voted "down"}}" title="Vote down"></i>
  -#  .content
  -#    -#%nav.icons.pull-right
  -#      %li
  -#        %a.href(title="Link" href="/accomplishments/{{_id}}")<
  -#          <i class="icon-bookmark"></i>
  -#      -#%li
  -#        %a.href(title="Comments" href="/accomplishments/{{_id}}/talk")<
  -#          <i class="icon-comment"></i>
  -#    -#%time.time {{formatDate date}}
  -#    {{#markdown}}{{{story}}}{{/markdown}}
  -#{{/if}}

