<template name='accomplishment'>
<article class='accomplishment' id='{{_id}}'>
{{#if user}}
<nav class='icons btn-group pull-right'>
<a class='btn btn-mini' href='/accomplishments/{{_id}}' title='Link'><i class="icon-bookmark {{isActive "single" _id}}"></i></a>
{{#if isMe user}}
<a class='btn btn-mini' href='/achievements/{{achievement._id}}/accomplish/text' title='Edit'>
<i class='icon-pencil'></i>
</a>
<a class='btn btn-mini' href='/accomplishments/{{_id}}/talk' title='Reply'>
<i class='icon-share-alt'></i>
</a>
{{/if}}
</nav>
{{> userActivity}}
{{> voteContainer}}
{{/if}}
<div class='clearfix'></div>
{{#with achievement}}
<div class='embed'>
{{> embedAchievement}}
</div>
{{/with}}
{{#if story}}
<div class='story part'>
{{#markdown}}{{{story}}}{{/markdown}}
</div>
{{/if}}
<div class='part'>
{{> tags}}
</div>
{{#if numComments}}
<div class='part'>
<a class='times part' href='/accomplishments/{{_id}}/talk'>
{{numComments}} comments
</a>
</div>
{{/if}}
</article>
</template>
