<template name='accomplish'>
{{#if session "story"}}
{{#with newAccomplishment}}
{{#if equals "story" "text"}}
<div class='editor'>
<div id='toolbar'></div>
{{#isolate}}
<textarea class='ta100 lazy' id='editor' name='story' rows='10'>{{{story}}}</textarea>
{{/isolate}}
<span class='help-block'><strong>HINT:</strong>
You can style your post using
<a href='http://daringfireball.net/projects/markdown/' target='_blank'>Markdown</a>
.</span>
</div>
<div class='preview story hide' id='preview'></div>
{{else}}
{{#if equals "story" "picture"}}
<div class='editor'>
<label>Upload a Photo:</label>
<div class='well well-small breadcrumb'>
<input class='input-file' id='upload' type='file' />
<ul class='thumbnails' id='thumbnails'></ul>
</div>
<label>Caption: (optional)</label>
<div id='toolbar'></div>
{{#isolate}}
<textarea class='ta100 lazy' id='editor' name='story' rows='4'>{{story}}</textarea>
{{/isolate}}
<span class='help-block'><strong>HINT:</strong>
You can style your post using
<a href='http://daringfireball.net/projects/markdown/' target='_blank'>Markdown</a>
.</span>
</div>
<div class='preview hide' id='list'></div>
<div class='preview story hide' id='preview'></div>
{{else}}
{{#if equals "story" "link"}}
<div class='editor'>
<label>Link:</label>
<input class='i100' type='text' />
<label>Caption: (optional)</label>
<div id='toolbar'></div>
<textarea class='ta100' id='editor' rows='4'>{{story}}</textarea>
<span class='help-block'><strong>HINT:</strong>
You can style your post using
<a href='http://daringfireball.net/projects/markdown/' target='_blank'>Markdown</a>
.</span>
</div>
<div class='preview story hide' id='preview'></div>
{{/if}}
{{/if}}
{{/if}}
{{/with}}
<footer class='form-actions'>
{{#if accomplishment}}
<a class='btn create' style='margin-left: -20px'>Save</a>
{{else}}
<a class='btn btn-success create' style='margin-left: -20px'>Accomplish</a>
{{/if}}
<a class='btn editor'>Preview</a>
<a class='btn preview hide'>Edit</a>
</footer>
{{else}}
<div class='btn-toolbar'>
<div class='btn-group'>
{{#if accomplishment}}
<a class='btn btn-danger uncreate'>Unaccomplish</a>
{{else}}
<a class='btn btn-success create'>Accomplish</a>
{{/if}}
<a class='btn' href='/achievements/{{_id}}/accomplish/text' title='Text'>
<i class='icon-align-left'></i>
</a>
<a class='btn' href='/achievements/{{_id}}/accomplish/picture' title='Picture'>
<i class='icon-picture'></i>
</a>
</div>
</div>
{{/if}}
</template>
