<template name='accomplish'>
<div class='linebreak'>
<nav class='nav nav-tabs'>
<li class="{{isActive "story" "text"}}">
<a href='/achievements/{{_id}}/accomplish/text'>
<i class='icon-align-left'></i>
Text
</a>
</li>
<li class="{{isActive "story" "picture"}}">
<a href='/achievements/{{_id}}/accomplish/picture'>
<i class='icon-picture'></i>
Picture
</a>
</li>
<li class="{{isActive "story" "video"}}">
<a href='/achievements/{{_id}}/accomplish/video'>
<i class='icon-film'></i>
Video
</a>
</li>
<li class="{{isActive "story" "link"}}">
<a href='/achievements/{{_id}}/accomplish/link'>
<i class='icon-bookmark'></i>
Link
</a>
</li>
</nav>
</div>
{{#if session "story"}}
{{#if equals "story" "text"}}
<div class='editor'>
<div id='toolbar-{{_id}}'></div>
<textarea class='ta100' id='editor-{{_id}}' rows='10'>{{story}}</textarea>
<span class='help-block'><strong>HINT:</strong>
You can style your post using
<a href='http://daringfireball.net/projects/markdown/' target='_blank'>Markdown</a>
.</span>
</div>
<div class='preview hide' id='preview-{{_id}}'></div>
<footer class='form-actions'>
{{#if accomplishment}}
<a class='btn btn-large create' style='margin-left: -20px'>Save</a>
{{else}}
<a class='btn btn-success btn-large create' style='margin-left: -20px'>Accomplish</a>
{{/if}}
<a class='btn btn-large editor'>Preview</a>
<a class='btn btn-large preview hide'>Edit</a>
</footer>
{{callback}}
{{/if}}
{{else}}
{{#if accomplishment}}
<a class='btn btn-danger btn-large uncreate'>Unaccomplish</a>
{{else}}
<a class='btn btn-success btn-large create'>Accomplish</a>
{{/if}}
{{/if}}
</template>
