%template(name='achievers')
  {{#if accomplishments}}
  {{#each accomplishments}}
  {{> miniAccomplishment}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

  {{> loadMore}}
