%template(name='achievement')
  %article.achievement(id="{{_id}}" class="{{color}}")
    {{#if session "single"}}
    %nav.icons.btn-toolbar
      {{> userActivity}}
      .btn-group.pull-left
        {{> voteContainer}}

      .btn-group.pull-right
        %a.btn.btn-mini.fav(title="Add to favourites")<
          <i class="icon-star {{faved}}"></i>
        -#%a.btn.btn-mini.expand(title="Expand")<
          {{#if equals "expand" _id}}
          <i class="icon-chevron-up active"></i>
          {{else}}
          <i class="icon-chevron-down"></i>
          {{/if}}
        %a.btn.btn-mini(title="Edit" href="/achievements/{{_id}}/edit")<
          %i.icon-pencil
          -# <i class="icon-pencil {{#if equals "tab" "edit"}}{{isActive "single" _id}}{{/if}}"></i>
        %a.btn.btn-mini(title="Comment" href="/achievements/{{_id}}/talk")<
          %i.icon-comment
          -# <i class="icon-comment {{#if equals "tab" "talk"}}{{isActive "single" _id}}{{/if}}"></i>
        %a.btn.btn-mini(title="Accomplish" href="/achievements/{{_id}}/accomplish")<
          %i.icon-certificate
          -# <i class="icon-certificate {{#if equals "tab" "accomplish"}}{{isActive "single" _id}}{{/if}}"></i>
      .clearfix
    {{/if}}

    %a.value.pull-right(href="/achievements/{{_id}}/accomplish")
      %span.points
        {{#if value}} {{value}} {{else}}
        %img(src="/grayLoading.gif")/
        {{/if}}

    %a.icon.pull-left(href="/achievements/{{_id}}")

    .content
      %header.head
        %h5.title
          {{#if title}}
          %a(href="/achievements/{{_id}}") {{title}}
          {{else}}
          %a(href="/achievements/{{_id}}" style="font-weight: normal") &lt;No title suggested&gt;
          {{/if}}
          %a.fav(title="Add to favourites")<
            <i class="icon-star {{faved}}"></i>

      .description
        {{#if description}}
        %span {{{wrapTags description}}}
        {{else}}
        %span.tag &lt;No content&gt;
        {{/if}}
    .clearfix

  {{#if equals "expand" _id}}
  .expandAchievement
    {{> info}}
  {{/if}}

  {{#if equals "single" _id}}{{#if session "tab"}}
  .expandAchievement
    .fold
      {{> expand}}
  {{/if}}{{/if}}

