<template name='achievement'>
<article class='achievement {{color}}' id='{{_id}}'>
<a class='value pull-right' href='/achievements/{{_id}}/accomplish'>
<span class='points'>
{{#if hasScore}}
{{value}}
{{else}}
<img src='/grayLoading.gif' />
{{/if}}
</span>
</a>
<div class='vote-container pull-right'>
<div>
<a class='vote' data-up='true'><i class="icon-arrow-up {{voted "up"}}" title="Vote up"></i></a>
</div>
<div>
<span class='count'>{{score}}</span>
</div>
<div>
<a class='vote' data-up='false'><i class="icon-arrow-down {{voted "down"}}" title="Vote down"></i></a>
</div>
</div>
<a class='icon pull-left' href='/achievements/{{_id}}'></a>
<div class='content'>
<header class='head'>
<nav class='icons pull-right'>
{{#unless session "single"}}
<li>
<a class='expand' title='Expand'>{{#if equals "expand" _id}}
<i class="icon-chevron-up active"></i>
{{else}}
<i class="icon-chevron-down"></i>
{{/if}}</a>
</li>
{{/unless}}
<li>
<a href='/achievements/{{_id}}/edit' title='Edit'><i class="icon-pencil {{#if equals "tab" "edit"}}{{isActive "single" _id}}{{/if}}"></i></a>
</li>
<li>
<a href='/achievements/{{_id}}/talk' title='Comment'><i class="icon-comment {{#if equals "tab" "talk"}}{{isActive "single" _id}}{{/if}}"></i></a>
</li>
<li>
<a href='/achievements/{{_id}}/accomplish' title='Accomplish'><i class="icon-certificate {{#if equals "tab" "accomplish"}}{{isActive "single" _id}}{{/if}}"></i></a>
</li>
</nav>
<h4 class='title'>
{{#if title}}
<a href='/achievements/{{_id}}'>{{title}}</a>
{{else}}
<a href='/achievements/{{_id}}' style='font-weight: normal'>&lt;No title suggested&gt;</a>
{{/if}}
<a class='fav' title='Add to favourites'><i class="icon-star {{faved}}"></i></a>
</h4>
</header>
<div class='description'>
{{#if description}}
<span>{{{wrapTags description}}}</span>
{{else}}
<span class='tag'>&lt;No content&gt;</span>
{{/if}}
</div>
</div>
<div class='clearfix'></div>
</article>
{{#if equals "expand" _id}}
<div class='expandAchievement'>
{{> info}}
</div>
{{/if}}
{{#if equals "single" _id}}{{#if session "tab"}}
<div class='expandAchievement'>
<div class='fold'></div>
{{> expand}}
</div>
{{/if}}{{/if}}
</template>
