%template(name='body')
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      %header.container
        {{> header }}
    .progress
      .bar(style="width: {{progress}}%")
    %span.label.hide {{progressText}}

  {{#if currentUser}}
  #content.container
    {{> page }}
  {{/if}}

  #modal.modal.hide.fade.hidden-phone
    {{> accomplishModal}}
