%template(name='comment')
  %article.comment(id="comment-{{_id}}" class="{{nested}}")
    .vote-container.pull-left
      %div
        %a.link.highlight(title="Link" href="/comments/{{_id}}")<
          <i class="icon-bookmark"></i>
      %div
        %a.vote(data-up="true")<
          <i class="icon-arrow-up {{voted "up"}}" title="Vote up"></i>
      %div
        %span.count {{score}}
      %div
        %a.vote(data-up="false")<
          <i class="icon-arrow-down {{voted "down"}}" title="Vote down"></i>
    .body
      .user
        .content
          %a.face.profile-pic(href="/{{user.username}}")
            %img(src="https://graph.facebook.com/{{user.services.facebook.id}}/picture")/
          <a class="name {{isMe user}}" href="/{{user.username}}">{{user.username}}</a>
          %span.score ({{user.score}})

          %span.verb {{verb}} -
          %time.times {{timeago date}}

          -#{{#if mention}}
          -#%a.face.profile-pic(href="/{{mention.username}}")
          -#  <img src="https://graph.facebook.com/{{mention.services.facebook.id}}/picture"/> 
          -#<a class="name {{isMe mention}}" href="/{{mention.username}}">{{mention.username}}</a>
          -#%span.score ({{mention.score}})
          -#{{/if}}

          %nav.icons.pull-right
            %li
              %a.unexpand(title="Expand")<
                {{#unless unexpand}}
                <i class="icon-chevron-up"></i>
                {{else}}
                <i class="icon-chevron-down active"></i>
                {{/unless}}
            %li
              %a.edit(title="Edit")<
                <i class="icon-pencil {{isActive "editComment" _id}}"></i>
            %li
              %a.reply(title="Reply")<
                <i class="icon-share-alt {{isActive "addComment" _id}}"></i>
            -#%li
              %a.remove(title="Remove")<
                <i class="icon-remove"></i>
          -#%time.time <{{formatDate date}}>
      .text
        {{#if equals "editComment" _id}}
        .text-wrapper
          %textarea.edit-text.ta100(id="edit-{{_id}}" rows="4") {{text}}
        {{else}}
        %p {{{addLineBreaks text}}}
        {{/if}}
      {{#if equals "addComment" _id}}
      .text-wrapper
        %textarea.comment-text.ta100(id="reply-{{_id}}" rows="4")
      {{/if}}

    {{#unless unexpand}}
    {{#unless cutoff}}
    {{#each replies}}
    {{> comment}}
    {{/each}}
    {{else}}
    %a.cutoff.highlight(href="/comments/{{_id}}")
      -#We have to go deeper
    {{/unless}}
    {{/unless}}

