<template name='comment'>
<article class='comment {{nested}}' id='comment-{{_id}}'>
<div class='vote-container pull-left'>
<div>
<a class='link highlight' href='/comments/{{_id}}' title='Link'><i class="icon-bookmark"></i></a>
</div>
{{> voteContainer}}
</div>
<div class='body'>
{{#if user}}
<nav class='icons pull-right'>
<li>
<a class='unexpand' title='Expand'>{{#unless unexpand}}
<i class="icon-chevron-up"></i>
{{else}}
<i class="icon-chevron-down active"></i>
{{/unless}}</a>
</li>
{{#if isMe user}}
<li>
<a class='edit' title='Edit'><i class="icon-pencil {{isActive "editComment" _id}}"></i></a>
</li>
{{/if}}
<li>
<a class='reply' title='Reply'><i class="icon-share-alt {{isActive "addComment" _id}}"></i></a>
</li>
</nav>
<div class='part'>
{{> userActivity}}
</div>
{{/if}}
<div class='text'>
{{#if equals "editComment" _id}}
<div class='text-wrapper'>
<textarea class='edit-text ta100' id='edit-{{_id}}' rows='4'>{{text}}</textarea>
</div>
{{else}}
<p>{{{addLineBreaks text}}}</p>
{{/if}}
</div>
{{#if equals "addComment" _id}}
<div class='text-wrapper'>
<textarea class='comment-text ta100' id='reply-{{_id}}' rows='4'></textarea>
</div>
{{/if}}
</div>
{{#unless unexpand}}
{{#unless cutoff}}
{{#each replies}}
{{> comment}}
{{/each}}
{{else}}
<a class='cutoff' href='/comments/{{_id}}'>
</a>
{{/unless}}
{{/unless}}
</article>
</template>
