<template name='comment'>
<article class='comment {{nested}}' id='comment-{{_id}}'>
{{#if user}}
<nav class='btn-group icons pull-right'>
<a class='btn btn-mini link highlight' href='/comments/{{_id}}' title='Link'><i class="icon-bookmark"></i></a>
<a class='btn btn-mini unexpand' title='Expand'>{{#unless unexpand}}
<i class="icon-chevron-up"></i>
{{else}}
<i class="icon-chevron-down active"></i>
{{/unless}}</a>
{{#if isMe user}}
<a class='btn btn-mini edit' title='Edit'><i class="icon-pencil {{isActive "editComment" _id}}"></i></a>
{{/if}}
<a class='btn btn-mini reply' title='Reply'><i class="icon-share-alt {{isActive "addComment" _id}}"></i></a>
</nav>
{{> userActivity}}
{{> voteContainer}}
{{/if}}
<div class='clearfix'></div>
<div class='text'>
{{#if equals "editComment" _id}}
<div class='text-wrapper'>
<textarea class='edit-text ta100' id='edit-{{_id}}' rows='4'>{{text}}</textarea>
</div>
{{else}}
<p>{{{addLineBreaks text}}}</p>
{{/if}}
</div>
{{#if equals "addComment" _id}}
<div class='text-wrapper'>
<textarea class='comment-text ta100' id='reply-{{_id}}' rows='4'></textarea>
</div>
{{/if}}
{{#unless unexpand}}
{{#unless cutoff}}
{{#each replies}}
{{> comment}}
{{/each}}
{{else}}
<hr class='cutoff' />
{{/unless}}
{{/unless}}
</article>
</template>
