<template name='edit'>
<div class='linebreak'>
<nav class='nav nav-tabs'>
{{#each items}}
<li class='{{active}}'>
<a href='{{url}}'>{{name}}</a>
</li>
{{/each}}
</nav>
</div>
{{#if equals "tabtab" "basic"}}
<div class='form-horizontal' id='form-{{_id}}'>
<fieldset>
<div class='control-group'>
<label class='control-label' for='title-{{_id}}'>Title</label>
<div class='controls'>
<div class='input-append'><input class='span3 title' data-field='title' id='title-{{_id}}' type='text' /><button class='btn suggest' type='button'>Suggest</button></div>
<p class='help-block muted'>
<strong>NOTE:</strong>
You don't have to suggest a title.
</p>
<div class='titles' style='margin-top: 15px'>
{{> miniTitles}}
</div>
</div>
</div>
<div class='control-group'>
<label class='control-label' for='description-{{_id}}'>Description</label>
<div class='controls'>
<textarea class='ta100 input-xlarge description lazy' data-field='description' id='description-{{_id}}' rows='4'>{{description}}</textarea>
<p class='help-block muted'>
What has to be done to complete this achievement?
</p>
</div>
</div>
<div class='control-group'>
<label class='control-label' for='category-{{_id}}'>Category</label>
<div class='controls'>
<select class='category lazy' data-field='category' id='category-{{_id}}'>
{{#each categories}}
<option value="{{name}}" {{selected ../category}}>{{name}}</option>
{{/each}}
</select>
<p class='help-block muted'>If it doesn't fit in anywhere, choose 'Random'</p>
</div>
</div>
<div class='control-group'>
<label class='control-label'>Tags</label>
<div class='controls'>
{{> tags}}
</div>
</div>
<footer class='form-actions'>
<button class='btn btn-large create'>Save</button>
</footer>
</fieldset>
</div>
{{/if}}
{{#if equals "tabtab" "revisions"}}
{{> revisions}}
{{else}} {{#if equals "tabtab" "title"}}
{{> titles}}
{{else}} {{#if equals "tabtab" "items"}}
{{/if}}
{{/if}}
{{/if}}
</template>
