%template(name="edit")
  .linebreak
    %nav.nav.nav-tabs
      {{#each items}}
      %li(class="{{active}}")
        %a(href="{{url}}") {{name}}
      {{/each}}

  {{#if equals "tabtab" "basic"}}
  .form-horizontal(id="form-{{_id}}")
    %fieldset 
      %div.control-group
        %label.control-label(for="title-{{_id}}") Title
        %div.controls 
          .input-append<
            %input.span3.title(type="text" id="title-{{_id}}" data-field="title")/
            %button.btn.suggest(type="button")> Suggest
          %p.help-block.muted
            %strong NOTE:
            You don't have to suggest a title.
          .titles(style="margin-top: 15px")
            {{> miniTitles}}

      %div.control-group 
        %label.control-label(for="description-{{_id}}") Description
        %div.controls 
          %textarea.input-xlarge.description.lazy(id="description-{{_id}}" data-field="description" rows="4") {{description}}
          %p.help-block.muted
            What has to be done to complete this achievement?
            -#%br/
            -#%strong HINT:
            -#You can include #tags here.

      -#%div.control-group 
        %label.control-label(for="optionsCheckbox") Visibility
        %div.controls 
          %label.checkbox 
            %input(type="checkbox" id="optionsCheckbox" value="option1")/
              Make this achievement private

      %div.control-group 
        %label.control-label(for="category-{{_id}}") Category
        %div.controls                 
          %select.category.lazy(id="category-{{_id}}" data-field="category") 
            {{#each categories}}
            <option value="{{name}}" {{selected ../category}}>{{name}}</option>
            {{/each}}
          %p.help-block.muted If it doesn't fit in anywhere, choose 'Random'

      %div.control-group 
        %label.control-label Tags
        %div.controls                 
          {{> tags}}

      -#%div.control-group 
        %label.control-label(for="multiSelect") Multicon-select
        %div.controls 
          %select(multiple="multiple" id="multiSelect") 
            %option 1
      -#%div.control-group 
        %label.control-label(for="fileInput") Image
        %div.controls 
          %input.input-file(id="fileInput" type="file")/
      %footer.form-actions
        %button.btn.create Save
  {{/if}}

  {{#if equals "tabtab" "revisions"}}
  {{> revisions}}

  {{else}} {{#if equals "tabtab" "title"}}
  {{> titles}}

  {{else}} {{#if equals "tabtab" "items"}}
  -# placeholder items

  {{/if}}
  {{/if}}
  {{/if}}
