<template name='embedAchievement'>
<article class='achievement {{color}}'>
<a class='value pull-right' href='/achievements/{{_id}}/accomplish'>
<span class='points'>
{{#if hasScore}}
{{value}}
{{else}}
<img src='/grayLoading.gif' />
{{/if}}
</span>
</a>
<a class='icon pull-left' href='/achievements/{{_id}}'></a>
<div class='content'>
<header class='head'>
<h4 class='title'>
{{#if title}}
<a href='/achievements/{{_id}}'>{{title}}</a>
{{else}}
<a href='/achievements/{{_id}}' style='font-weight: normal'>&lt;No title suggested&gt;</a>
{{/if}}
<a class='fav' title='Add to favourites'><i class="icon-star {{faved}}"></i></a>
</h4>
</header>
<div class='description'>
{{#if description}}
<span>{{{wrapTags description}}}</span>
{{else}}
<span class='tag'>&lt;No content&gt;</span>
{{/if}}
</div>
</div>
<div class='clearfix'></div>
</article>
</template>
