%template(name="expand")
  {{#if equals "tab" "edit"}}
  %h5.heading.line Edit
  {{> edit}}
  {{else}}

  {{#if equals "tab" "info"}}
  %h5.heading.line Info
  {{> info}}
  {{else}}

  {{#if equals "tab" "accomplish"}}
  %h5.heading.line Accomplish
  {{> accomplish}}
  {{else}}

  {{#if equals "tab" "talk"}}
  %h5.heading.line Comments
  {{> filter}}
  .clearfix
  {{> comments}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
