<template name='expand'>
{{#if equals "tab" "edit"}}
<h5 class='heading line'>Edit</h5>
{{> edit}}
{{/if}}
{{#unless equals "newAchievement" _id}}
{{#if equals "tab" "info"}}
<h5 class='heading line'>Info</h5>
{{> info}}
{{/if}}
{{#if equals "tab" "accomplish"}}
<h5 class='heading line'>Tell your story (optional)</h5>
{{> accomplish}}
{{/if}}
{{#if equals "tab" "talk"}}
<h5 class='heading line'>Comments</h5>
{{> filter}}
<div class='clearfix'></div>
{{> comments}}
{{/if}}
{{/unless}}
</template>
