%template(name='favourites')
  .clearfix

  {{#if favourites}}
  {{#each favourites}}
  .fold
    {{#with achievement}} {{> achievement}} {{/with}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

