%template(name='favourites')
  .clearfix

  {{#if favourites}}
  {{#each favourites}}
  {{#if achievement}}
  .fold
    {{#with achievement}}
    {{> achievement}}
    {{/with}}
  {{/if}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

