%template(name='header')
  %a.brand.nav-img.pull-left.nav-item(href="/notifications")
  {{#if numNotifications}}
  %a.label.notify(href="/notifications") {{numNotifications}}
  {{/if}}

  {{#if currentUser}}
  %nav.nav
    -#%li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown")<
        {{#if session "category"}}
        %span {{session "category"}}
        {{else}}
        %span Onescore
        {{/if}}
        %b.caret
      %ul.dropdown-menu
        {{#each categories}}
        %li.category(data-category="{{name}}")
          %a.nav-item {{name}}
        {{/each}}

    {{#each items}}
    %li.divider-vertical
    %li.spell-item(class="{{active}} {{isPassive}}")
      %a.spell(href="/{{url}}" title="{{name}}" rel="popover" data-original-title="{{name}}" data-content="{{description}}<div class='muted'>{{cooldown}}</div>")
        %i.icon-white(class="icon-{{icon}}")
      -#{{#if counter}}
      -#{{#if numNotifications}}
      -#%span.label.notify.hidden-phone(href="/notifications") {{numNotifications}}
      -#{{/if}}
      -#{{/if}}
    {{/each}}
    %li.divider-vertical

    -#<li class="{{isActive "page" "profile"}}">
    -#-#%a.nav-item(href="/{{currentUser.username}}") Profile
    -#%a.nav-item(href="/{{currentUser.username}}")
    -#  %i.icon-user
    -#</li>

  %a.profile-pic.nav-item.nav-img.pull-right(href="/{{currentUser.username}}")
    {{{pic}}}
  .score.pull-right.hidden-phone<
    -#%span.dollar
    %span.value {{currentUser.level}}
  {{else}}
  .login.pull-right
    {{> loginButtons}}
  {{/if}}

  {{callback}}
