<template name='header'>
<a class='brand nav-img pull-left nav-item' href='/notifications'></a>
{{#if numNotifications}}
<a class='label notify' href='/notifications'>{{numNotifications}}</a>
{{/if}}
{{#if currentUser}}
<nav class='nav'>
{{#each items}}
<li class='divider-vertical'></li>
<li class='spell-item {{active}} {{isPassive}}'>
<a class='spell' data-content="{{description}}&lt;div class='muted'&gt;{{cooldown}}&lt;/div&gt;" data-original-title='{{name}}' href='/{{url}}' rel='popover' title='{{name}}'>
<i class='icon-white icon-{{icon}}'></i>
</a>
</li>
{{/each}}
<li class='divider-vertical'></li>
</nav>
<a class='profile-pic nav-item nav-img pull-right' href='/{{currentUser.username}}'>
{{{pic}}}
</a>
<div class='score pull-right hidden-phone'><span class='value'>{{currentUser.level}}</span></div>
{{else}}
<div class='login pull-right'>
{{> loginButtons}}
</div>
{{/if}}
{{callback}}
</template>
