<template name='header'>
<a class='brand nav-img pull-left nav-item' href='/notifications'></a>
{{#if numNotifications}}
<a class='label notify' href='/notifications'>{{numNotifications}}</a>
{{/if}}
{{#if currentUser}}
<nav class='nav'>
{{#each items}}
<li class="{{isActive "page" url}}">
<a class='nav-item' href='/{{url}}'>{{name}}</a>
</li>
{{/each}}
<li class="{{isActive "page" "profile"}}">
<a class='nav-item' href='/{{currentUser.username}}'>Profile</a>
</li>
</nav>
<a class='profile-pic nav-item nav-img pull-right' href='/{{currentUser.username}}'>
{{{pic}}}
</a>
<div class='score pull-right hidden-phone'><span class='value'>{{currentUser.score}}</span></div>
{{else}}
<div class='login pull-right'>
{{> loginButtons}}
</div>
{{/if}}
</template>
