<template name='header'>
<a class='brand nav-img pull-left nav-item' href='/notifications'></a>
{{#if numNotifications}}
<a class='label notify' href='/notifications'>{{numNotifications}}</a>
{{/if}}
{{#if currentUser}}
<nav class='nav'>
{{#each items}}
<li class="{{isActive "page" url}}">
<a href='/{{url}}' title='{{name}}'>
<i class="icon-white icon-{{icon}}"></i>
</a>
</li>
{{/each}}
</nav>
<a class='profile-pic nav-item nav-img pull-right' href='/{{currentUser.username}}'>
{{{pic}}}
</a>
<div class='score pull-right hidden-phone'><span class='value'>{{currentUser.score}}</span></div>
{{else}}
<div class='login pull-right'>
{{> loginButtons}}
</div>
{{/if}}
</template>
