%template(name='header')
  {{#if numNotifications}}
  %a.brand.nav-img.pull-left.nav-item(href="/notifications")
  %a.label.notify(href="/notifications") {{numNotifications}}
  {{else}}
  %a.brand.nav-img.pull-left.nav-item(href="/home")
  {{/if}}

  {{#if currentUser}}

  -#%a.btn.btn-navbar(data-toggle="collapse" data-target=".nav-collapse")
    %span.icon-bar
    %span.icon-bar
    %span.icon-bar

  %a.profile-pic.nav-item.nav-img.pull-right(href="/{{currentUser.username}}")
    {{{pic}}}

  %span.score.pull-right 
    %span.value {{currentUser.score}} 

  %nav.nav
    -#%li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown")<
        {{#if session "category"}}
        %span {{session "category"}}
        {{else}}
        %span Onescore
        {{/if}}
        %b.caret
      %ul.dropdown-menu
        {{#each categories}}
        %li.category(data-category="{{name}}")
          %a.nav-item {{name}}
        {{/each}}

    {{#each items}}
    %li.divider-vertical
    %li.spell-item(class="{{active}} {{isPassive}}")
      %a.spell(href="/{{url}}" title="{{name}}" rel="popover" data-original-title="{{name}}" data-content="{{description}}<div class='muted'>{{cooldown}}</div>")
        %i.icon-white(class="icon-{{icon}}")
      -#{{#if counter}}
      -#{{#if numNotifications}}
      -#%span.label.notify.hidden-phone(href="/notifications") {{numNotifications}}
      -#{{/if}}
      -#{{/if}}
    {{/each}}
    %li.divider-vertical

  {{else}}
  .login.pull-right
    {{> loginButtons}}
  {{/if}}

  {{callback}}
