<template name='ladder'>
<table class='ladder table'>
<thead>
<tr>
<th class='rank'>
<h6 class='muted'>Rank</h6>
</th>
<th>
<h6 class='muted'>User</h6>
</th>
<th class='right'>
<h6 class='muted'>Score</h6>
</th>
</tr>
</thead>
<tbody>
{{#each users}}
<tr>
<td class='score'>
<span class='value'>{{rank}}</span>
</td>
<td>
{{> user}}
</td>
<td class='score right'>
<span class='value'>{{score}}</span>
</td>
</tr>
{{else}}
{{> loading}}
{{/each}}
</tbody>
</table>
<div class='fold advice more'>
<a>
<i class='icon-road'></i>
Load more...
</a>
</div>
</template>
