%template(name='ladder')
  %table.ladder.table
    %thead 
      %tr 
        %th.rank
          %h6.muted Rank
        %th
          %h6.muted User
        %th.right
          %h6.muted Score
    %tbody 
      {{#each users}}
      %tr 
        %td.score
          %span.value {{rank}}
        %td
          {{> user}}
        %td.score.right
          %span.value {{score}}
      {{else}}
      {{> loading}}
      {{/each}}

  .fold.advice.more
    %a
      %i.icon-road
      Load more...
