<template name='menu'>
<nav class='menu'>
<ul class='nav nav-tabs nav-stacked'>
<li class="{{isActive "menu" "activity"}}">
<a href='/{{session "username"}}/activity'>
<i class='icon-certificate'></i>
Activity
<i class='icon-chevron-right pull-right'></i>
</a>
</li>
<li class="{{isActive "menu" "questlog"}}">
<a href='/{{session "username"}}/questlog'>
<i class='icon-book'></i>
Quest Log
<i class='icon-chevron-right pull-right'></i>
</a>
</li>
<li class="{{isActive "menu" "favourites"}}">
<a href='/{{session "username"}}/favourites'>
<i class='icon-star'></i>
Favourites
<i class='icon-chevron-right pull-right'></i>
</a>
</li>
</ul>
</nav>
</template>
