%template(name='miniQuestLog')
  {{#if favourites}}
  {{#each favourites}}

  {{#with achievement}} {{> miniAchievement}} {{/with}}

  {{else}}
  {{> loading}}
  {{/each}}
  {{else}}
  {{> noContent}}
  {{/if}}

