%template(name='miniAchievement')
  %article.achievement.mini(class="{{color}}" title="{{description}}")<>
    %a.icon(href="/achievements/{{_id}}/accomplish")
    %span.title<>
      {{#if title}}
      %a(href="/achievements/{{_id}}/accomplish") {{title}}
      {{else}}
      %a(href="/achievements/{{_id}}/accomplish" style="font-weight: normal") &lt;No title suggested&gt;
      {{/if}}

    -#.score.pull-right
      %a.value(href="/achievements/{{_id}}/accomplish")
        {{#if hasScore}}
        {{value}}
        {{/if}}
      -#%a(href="/achievements/{{_id}}/accomplish")
        %i.icon-certificate
