%template(name='miniAchievement')
  .achievement.mini.selectable.selectable(class="{{color}}" title="{{description}}")<>
    -#%a.icon(href="/achievements/{{_id}}/accomplish")
    %span.pull-right {{value}}
    %h5.title<>
      {{#if title}}
      %a(href="/achievements/{{_id}}/accomplish") {{title}}
      {{else}}
      %a(href="/achievements/{{_id}}/accomplish" style="font-weight: normal") &lt;No title suggested&gt;
      {{/if}}
