<template name='miniAccomplishment'>
<article class='accomplishment' id='{{_id}}'>
{{#if user}}
<nav class='icons btn-group pull-right'>
<a class='btn btn-mini' href='/accomplishments/{{_id}}' title='Link'><i class="icon-bookmark {{isActive "single" _id}}"></i></a>
{{#if isMe user}}
<a class='btn btn-mini' href='/achievements/{{achievement._id}}/accomplish/text' title='Edit'>
<i class='icon-pencil'></i>
</a>
{{/if}}
<a class='btn btn-mini' href='/accomplishments/{{_id}}/talk' title='Comment'>
<i class='icon-comment'></i>
</a>
</nav>
{{> user}}
{{> voteContainer}}
{{/if}}
<div class='clearfix'></div>
<div class='selectable'>
{{#if story}}
<div class='story'>
{{#markdown}}{{{story}}}{{/markdown}}
</div>
{{/if}}
<time class='times pull-right'>{{timeago date}}</time>
<a class='times' href='/accomplishments/{{_id}}/talk'>
{{numComments}} comments
</a>
</div>
<div class='clearfix'></div>
</article>
</template>
