<template name='newAchievement'>
{{#with newAchievement}}
<div class='form-horizontal' id='form-{{_id}}'>
<fieldset>
<div class='control-group'>
<label class='control-label' for='title-{{_id}}'>Title</label>
<div class='controls'>
<input class='span3 title lazy' data-field='title' id='title-{{_id}}' type='text' value='{{title}}' />
<p class='help-block muted'>
<strong>NOTE:</strong>
You don't have to suggest a title.
</p>
{{#if titles}}
<table class='table table-condensed' style='margin-top:20px'>
<thead>
<tr>
<th>Vote</th>
<th>Title</th>
</tr>
</thead>
<tbody>
{{#each titles}}
<tr>
<td>
{{> voteContainer}}
</td>
<td>{{title}}</td>
</tr>
{{/each}}
</tbody>
</table>
{{/if}}
</div>
</div>
<div class='control-group'>
<label class='control-label' for='description-{{_id}}'>Description</label>
<div class='controls'>
<textarea class='input-xlarge description lazy' data-field='description' id='description-{{_id}}' rows='4'>{{description}}</textarea>
<p class='help-block muted'>
What has to be done to complete this achievement?
</p>
</div>
</div>
<div class='control-group'>
<label class='control-label'>Tags</label>
<div class='controls'>
{{> tags}}
</div>
</div>
<footer class='form-actions'>
<button class='btn btn-large create'>Save</button>
</footer>
</fieldset>
</div>
{{/with}}
</template>
