%template(name="newAchievement")
  {{#with newAchievement}}

  {{#unless session "styleGuide"}}
  %div.alert.alert-block.alert-info
    %a.close(data-dismiss="alert") ×
    %h4 Achievement style guide
    %p Achievements should have the following properties:
    %dl 
      %dt 
        %h5 Atomic
      %dd Achievements should not be composed.
      %dt 
        %h5 Universal
      %dd Achievements should be easy to agree on.
      %dt 
        %h5 Unique
      %dd Check if the achievement already exists!
  {{/unless}}

  .form-horizontal(id="form-{{_id}}")
    %fieldset 
      %div.control-group
        %label.control-label(for="title-{{_id}}") Title
        %div.controls 
          %input.span3.title.lazy(type="text" id="title-{{_id}}" data-field="title" value="{{title}}")/
          %p.help-block.muted
            %strong NOTE:
            You don't have to suggest a title.

          {{#if titles}}
          %table.table.table-condensed(style="margin-top:20px")
            %thead 
              %tr 
                %th Vote
                %th Title
            %tbody 
              {{#each titles}}
              %tr 
                %td
                  {{> voteContainer}}
                %td {{title}}
              {{/each}}
          {{/if}}

      %div.control-group 
        %label.control-label(for="description-{{_id}}") Description
        %div.controls 
          %textarea.input-xlarge.description.lazy(id="description-{{_id}}" data-field="description" rows="4") {{description}}
          %p.help-block.muted
            What has to be done to complete this achievement?
            -#%br/
            -#%strong HINT: You can include #tags here.

      -#%div.control-group 
        %label.control-label(for="optionsCheckbox") Visibility
        %div.controls 
          %label.checkbox 
            %input(type="checkbox" id="optionsCheckbox" value="option1")/
              Make this achievement private

      -#%div.control-group 
        %label.control-label(for="category-{{_id}}") Category
        %div.controls                 
          %select.category.lazy(id="category-{{_id}}" data-field="category") 
            {{#each categories}}
            <option value="{{name}}" {{selected ../category}}>{{name}}</option>
            {{/each}}
          %p.help-block.muted If it doesn't fit in anywhere, choose 'Random'

      %div.control-group 
        %label.control-label Tags
        %div.controls                 
          {{> tags}}

      -#%div.control-group 
        %label.control-label(for="multiSelect") Multicon-select
        %div.controls 
          %select(multiple="multiple" id="multiSelect") 
            %option 1
      -#%div.control-group 
        %label.control-label(for="fileInput") Image
        %div.controls 
          %input.input-file(id="fileInput" type="file")/
      %footer.form-actions
        %button.btn.btn-large.create Save

  {{/with}}
