%template(name='notifications')
  %table.notifications.ladder.table
    %tbody 
      {{#each notifications}}
      %tr 
        %td
          {{> notification}}
      {{else}}
      {{> noContent}}
      {{/each}}

  {{> loadMore}}
