<template name='notification'>
<div class='user'>
<div class='content'>
{{#with user}}
<a class='face profile-pic' href='/{{username}}'>
<img src='https://graph.facebook.com/{{services.facebook.id}}/picture' />
</a>
<a class="name {{isMe _id}}" href="/{{username}}">{{username}}</a>
<span class='level'>({{level}})</span>
{{/with}}
{{#if comment}}
<a href='/comments/{{entity}}'>
{{#if reply}}
replied
{{else}}
commented
{{/if}}
</a>
on {{your}}
{{/if}}
{{#if title}}
suggested a title for {{your}}
{{/if}}
{{#if vote}}
voted for {{your}}
{{/if}}
{{#if accomplishment}}
<a href='accomplishments/{{entity}}'>
accomplished
</a>
{{your}}
{{/if}}
<a href='/{{targetType}}s/{{target}}'>{{targetType}}</a>
- {{timeago date}}
</div>
</div>
</template>
