<template name='notification'>
{{> user}}
{{#if comment entityType}}
<a href='/comments/{{entity}}'>
{{#if reply targetType}}
replied
{{else}}
commented
{{/if}}
</a>
on {{your}}
{{/if}}
{{#if isTitle entityType}}
suggested a title for {{your}}
{{/if}}
{{#if vote entityType}}
voted for {{your}}
{{/if}}
{{#if accomplishment entityType}}
<a href='/accomplishments/{{entity}}'>
accomplished
</a>
{{your}}
{{/if}}
{{#if isTitle targetType}}
your title '{{title}}'
{{else}}
<a href='/{{targetType}}s/{{target}}'>{{targetType}}</a>
{{/if}}
- {{timeago date}}
</template>
