%template(name='notification')
  {{#with user}} {{> user}} {{/with}}
  {{#if comment entityType}}
  %a(href="/comments/{{entity}}")
    {{#if reply targetType}}
    replied
    {{else}}
    commented
    {{/if}}
  %span on {{your}}
  {{/if}}

  {{#if isTitle entityType}}
  %span suggested a
  %a(href="/achievements/{{target}}/edit/title") title
  %span for your
  {{/if}}

  {{#if isRevision entityType}}
  %span restored {{your}}
  {{/if}}

  {{#if vote entityType}}
  %span voted for {{your}}
  {{/if}}

  {{#if accomplishment entityType}}
  %a(href="/accomplishments/{{entity}}") accomplished
  %span {{your}}
  {{/if}}

  -#{{entity}}
  -#%a(href="/{{entityType}}s/{{entity}}") {{entityType}} 
  -#{{on}}
  -#{{target}}
  {{#if isTitle targetType}}
  %span your title
  {{else}}
  %a(href="/{{targetType}}s/{{target}}") {{targetType}}
  {{/if}}

  {{#if isRevision entityType}}
  %span to a previous version
  {{/if}}

  \- {{timeago date}}
