<template name='notification'>
<div class='user'>
<div class='content'>
<a class='face profile-pic' href='/{{user.username}}'>
<img src='https://graph.facebook.com/{{user.services.facebook.id}}/picture' />
</a>
<a class="name {{isMe user}}" href="/{{user.username}}">{{user.username}}</a>
{{#if comment}}
<a href='/comments/{{entity}}'>
commented
</a>
on {{your}}
{{/if}}
{{#if title}}
suggested a title for {{your}}
{{/if}}
{{#if vote}}
voted for {{your}}
{{/if}}
{{#if accomplishment}}
<a href='accomplishments/{{entity}}'>
accomplished
</a>
{{your}}
{{/if}}
<a href='/{{targetType}}s/{{target}}'>{{targetType}}</a>
- {{timeago date}}
</div>
</div>
</template>
