%template(name='notification')
  {{#with user}} {{> user}} {{/with}}
  {{#if comment entityType}}
  %a(href="/comments/{{entity}}")
    {{#if reply targetType}}
    replied
    {{else}}
    commented
    {{/if}}
  on {{your}}
  {{/if}}

  {{#if isTitle entityType}}
  suggested a title for {{your}}
  {{/if}}

  {{#if isRevision entityType}}
  restored {{your}}
  {{/if}}

  {{#if vote entityType}}
  voted for {{your}}
  {{/if}}

  {{#if accomplishment entityType}}
  %a(href="/accomplishments/{{entity}}")
    accomplished
  {{your}}
  {{/if}}

  -#{{entity}}
  -#%a(href="/{{entityType}}s/{{entity}}") {{entityType}} 
  -#{{on}}
  -#{{target}}
  {{#if isTitle targetType}}
  your title '{{title}}'
  {{else}}
  %a(href="/{{targetType}}s/{{target}}") {{targetType}}
  {{/if}}

  {{#if isRevision entityType}}
  to a previous version
  {{/if}}

  \- {{timeago date}}
