%template(name='notifications')
  %table.notifications.ladder.table
    -#%thead 
      %tr 
        %th
          %h6 Notifications
    %tbody 
      {{#each notifications}}
      %tr 
        %td
          {{> notification}}
      {{else}}
      {{> loading}}
      {{/each}}

  {{> loadMore}}
