%template(name='page')
  {{#if equals "page" "home"}}
  .row
    .span8
      %section.well.home
        %h5.heading.line Stories
        {{> filter }}
        .clearfix
        {{> home }}

    .span4
      %aside.well 
        {{> userWidget}}
      %aside.well 
        %h5.heading.line Quest Log
        {{> miniQuestLog}}
      %aside.well 
        %h5.heading.line Tags
        {{> tagFilter}}
      -#%aside.well 
        %h5.heading.line Quest items

  {{else}} {{#if equals "page" "explore"}}
  .row
    .span4
      %aside.well.hidden-phone
        %h5.heading.line Tags
        {{> tagFilter}}
      %aside.well.hidden-phone
        %h5.heading.line Quest Log
        {{> miniQuestLog}}
      -#%aside.well.hidden-phone
        %h5.heading.line Quest items
    .span8
      %section.well 
        %h5.heading.line Explore
        {{> filter}}
        {{> achievements}}

  {{else}} {{#if equals "page" "ladder"}}
  .row
    .span4
      %aside.well.hidden-phone
        {{> userWidget }}
      -#%aside.well.hidden-phone 
        %h5.heading.line League
      -#%aside.well.hidden-phone 
        %h5.heading.line Quest items
    .span8
      %section.well.ladder
        %h5.heading.line Ladder
        -#{{> filter }}
        -#.clearfix
        -#.fold
        {{> ladder }}

  {{else}} {{#if equals "page" "profile"}}
  .row
    .span4
      {{> menu }}
      %aside.well.hidden-phone
        %h5.heading.line Tags
        {{> tagFilter}}
      -#%aside.well.hidden-phone 
        %h5.heading.line Quest items
    .span8
      %section.well 
        {{> userBanner}}

      %section.well.profile 
        {{#if equals "menu" "activity"}}
        %h5.heading.line Activity
        {{> filter }}
        .clearfix
        {{> accomplishments}}
        {{/if}}

        {{#if equals "menu" "questlog"}}
        %h5.heading.line Quest log
        {{> filter }}
        .clearfix
        {{> questLog}}
        {{/if}}

        {{#if equals "menu" "favourites"}}
        %h5.heading.line Favourites
        {{> filter }}
        .clearfix
        {{> favourites}}
        {{/if}}

  {{else}} {{#if equals "page" "notifications"}}
  .row
    .span8
      %section.well.notifications
        %h5.heading.line Notifications
        -#{{> filter}}
        -#.clearfix
        -#.fold
        {{> notifications}}

    .span4
      %aside.well 
        {{> userWidget}}
      %aside.well 
        %h5.heading.line Quest log
        {{> miniQuestLog}}
      -#%aside.well 
        %h5.heading.line Quest items

  {{else}} {{#if session "single"}}
  .row
    {{> single}}

  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
