%template(name='questLog')
  .clearfix

  {{#if favourites}}
  {{#each favourites}}
  .fold
    {{#if achievement}}
    {{#with achievement}}
    {{> achievement}}
    {{/with}}
    {{/if}}
  {{else}}
  .fold
    {{> loading}}
  {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}

