%template(name='single')
  {{#if equals "page" "achievements"}}
  %h5.heading.line Achievement
  {{#with achievement}}
  {{> achievement}}
  {{/with}}
  {{/if}}

  {{#if equals "page" "accomplishments"}}
  %h5.heading.line Accomplishment
  {{#with accomplishment}}
  {{> accomplishment}}
  {{/with}}
  {{/if}}

  {{#if equals "page" "comments"}}
  %h5.heading.line Comment
  {{#with comment}}
  {{> singleComment}}
  {{/with}}
  {{/if}}

  {{#if equals "page" "newAchievement"}}
  %h5.heading.line New achievement
  {{> newAchievement}}
  {{/if}}
