%template(name='singleComment')

  %ul.breadcrumb
    {{#each breadcrumbs}}
    %li
      <a class="{{isMe user}}" href="{{url}}/talk">{{name}}</a>
      %span.divider >
    {{/each}}

  %article.comment(id="comment-{{_id}}" class="{{nested}}")
    .vote-container.pull-left
      %div
        %a(title="Link" href="/comments/{{_id}}")<
          <i class="icon-bookmark {{isActive "single" _id}}"></i>
      {{> voteContainer}}

    .body
      {{#if user}}
      %nav.icons.pull-right
        {{#if isMe user}}
        %li
          %a.edit(title="Edit")<
            <i class="icon-pencil {{isActive "editComment" _id}}"></i>
        {{/if}}
        %li
          %a.replyy(title="Reply")<
            <i class="icon-share-alt {{isActive "addComment" "new"}}"></i>
        -#%li
          %a.remove(title="Remove")<
            <i class="icon-remove"></i>
      {{> userActivity}}
      {{/if}}

      .text
        {{#if equals "editComment" _id}}
        .text-wrapper
          %textarea.edit-text.ta100(id="edit-{{_id}}" rows="4") {{text}}
        {{else}}
        %p {{{addLineBreaks text}}}
        {{/if}}

  .fold
  %h5.heading.line Replies
  {{> filter}}
  .clearfix
  {{> comments}}

