<template name='singleComment'>
<ul class='breadcrumb'>
{{#each breadcrumbs}}
<li>
<a class="{{isMe user}}" href="{{url}}">{{name}}</a>
<span class='divider'>></span>
</li>
{{/each}}
</ul>
<article class='comment {{nested}}' id='comment-{{_id}}'>
{{#if user}}
<nav class='icons btn-group pull-right'>
{{#if isMe user}}
<a class='btn btn-mini edit' title='Edit'><i class="icon-pencil {{isActive "editComment" _id}}"></i></a>
{{/if}}
<a class='btn btn-mini replyy' title='Reply'><i class="icon-share-alt {{isActive "addComment" "new"}}"></i></a>
</nav>
{{> userActivity}}
{{> voteContainer}}
{{/if}}
<div class='clearfix'></div>
<div class='text'>
{{#if equals "editComment" _id}}
<div class='text-wrapper'>
<textarea class='edit-text ta100' id='edit-{{_id}}' rows='4'>{{text}}</textarea>
</div>
{{else}}
<p>{{{addLineBreaks text}}}</p>
{{/if}}
</div>
</article>
<div class='fold'>
<h5 class='heading line'>Replies</h5>
{{> filter}}
<div class='clearfix'></div>
{{> comments}}
</div>
</template>
