%template(name='tags')
  .tag-list
    {{#each tags}}
    %span.tag.label.active(data-tag="{{tag}}")
      {{tag}}
      -#%a.remove(id="{{../_id}}" title="Remove this tag") ×
    {{/each}}

    {{#if addingTag}}
    %input.edittag-input.label.input-mini(id="addingTag-{{_id}}" type="text")
    {{else}}
    %a.add.tag.label(title="Add a tag") + tag
    {{/if}}

