%template(name='tags')
  .tag-list
    {{#each tagObjects}}
    <span class="tag label {{isActive "tagFilter" tag}}">
    {{tag}}
    %a.remove(title="Remove this tag") ×
    </span>
    {{/each}}

    {{#if addingTag}}
    %input.edittag-input.label.input-mini(id="addingTag-{{_id}}" type="text")
    {{else}}
    %a.add(title="Add a tag")
      %i.icon-tag
    {{/if}}

