<template name='titles'>
{{> filter}}
<div class='clearfix'></div>
{{#if titles}}
<div class='fold'>
<table class='table titles'>
<thead>
<tr>
<th class='muted'>Vote</th>
<th class='muted'>Title</th>
<th class='muted'>User</th>
</tr>
</thead>
<tbody>
{{#each titles}}
<tr>
<td class='vote-inline'>
{{> voteContainer}}
</td>
<td class='title-suggestion'>
{{title}}
</td>
<td>
<span class='pull-right'>{{#with user}} {{> user}} {{/with}}</span>
</td>
</tr>
{{/each}}
</tbody>
</table>
</div>
{{else}}
<div class='fold'>
{{> noContent}}
</div>
{{/if}}
{{> loadMore}}
</template>
