%template(name="titles")
  {{#if titles}}
  .fold
    %table.table.titles
      %thead 
        %tr 
          %th.muted Vote
          %th.muted Title
          %th.muted User
      %tbody 
        {{#each titles}}
        %tr
          %td.vote-inline
            {{> voteContainer}}
          %td.title-suggestion
            {{title}}
          %td
            %span.pull-right {{#with user}} {{> user}} {{/with}}
        {{/each}}
  {{else}}
  .fold
    {{> noContent}}
  {{/if}}
  {{> loadMore}}
