%template(name='userWidget')
  .userWidget
    %a.profile-pic.pull-left(href="/{{currentUser.username}}")
      {{{pic}}}
    %h4.name.muted {{currentUser.username}}
    %h5.score<
      -#%span.dollar.dollar-green
      %span {{currentUser.score}}
    .clearfix
    .row-fluid
      .span6
        %h5.muted Level
        %span {{currentUser.level}}
      .span6
        %h5.muted Rank
        %span {{currentUser.rank}}
