%template(name='userBanner')
  .userBanner
    %a.profile-pic.pull-left(href='/{{session "username"}}')
      {{{pic}}}
    %h2.name {{session "username"}}
    {{#if user}}
    {{#with user}}
    .pull-right
      %h6 Score
      %h3.score.pull-right<
        -#%span.dollar.dollar-green
        %span {{score}}
    .about
      %h6 About
      %em.bio {{bio}}
      .loc {{location}}
    {{/with}}
    {{else}}
    {{> loading}}
    {{/if}}

