%template(name='user')
  {{#if user}}
  {{#with user}}
  .user.pull-left
    %a.face.profile-pic(href="/{{username}}" title="{{username}}")
      %img(src="https://graph.facebook.com/{{services.facebook.id}}/picture")/
    -#<a class="name {{isMe _id}}" href="/{{username}}">{{username}}</a>
    -#%span.level ({{level}})
  {{/with}}
  {{/if}}
