%template(name='voteContainer')
  .btn-group.pull-left
    %a.btn.btn-mini.vote(data-up="true")<
      <i class="icon-arrow-up {{voted "up"}}" rel="tooltip" title="Vote up"></i>
    %span.btn.btn-mini.disabled.count {{score}}
    %a.btn.btn-mini.vote(data-up="false")<
      <i class="icon-arrow-down {{voted "down"}}" rel="tooltip" title="Vote down"></i>
