@font-face {
    font-family: 'SubtleSansRegular';
    src: url('/fonts/subtlesansregular-webfont.eot');
    src: url('/fonts/subtlesansregular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesansregular-webfont.woff') format('woff'),
         url('/fonts/subtlesansregular-webfont.ttf') format('truetype'),
         url('/fonts/subtlesansregular-webfont.svg#SubtleSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/*
@font-face {
    font-family: 'SubtleSansLightRegular';
    src: url('/fonts/subtlesanslight-webfont.eot');
    src: url('/fonts/subtlesanslight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesanslight-webfont.woff') format('woff'),
         url('/fonts/subtlesanslight-webfont.ttf') format('truetype'),
         url('/fonts/subtlesanslight-webfont.svg#') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SubtleSansUltraLightRegular';
    src: url('/fonts/subtlesansultralight-webfont.eot');
    src: url('/fonts/subtlesansultralight-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/subtlesansultralight-webfont.woff') format('woff'),
         url('/fonts/subtlesansultralight-webfont.ttf') format('truetype'),
         url('/fonts/subtlesansultralight-webfont.svg#SubtleSansUltraLightRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}*/
