::selection {
  background: #9efa67;
  text-shadow: none; }

::-moz-selection {
  background: #9efa67;
  text-shadow: none; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }

a {
  cursor: pointer;
  transition: color 0.2s linear;
  -moz-transition: color 0.21s linear;
  -o-transition: color 0.21s linear;
  -webkit-transition: color 0.2s linear; }

.score .value {
  font-family: "SubtleSansRegular";
  font-size: 28px;
  font-weight: normal; }
.score .dollar {
  display: inline-block;
  width: 35px;
  height: 35px;
  background: url("/img/onescore_dollar.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
.score .dollar-green {
  background: url("/img/onescore_dollar_green.png") no-repeat; }
.score .dollar-red {
  background: url("/img/onescore_dollar_red.png") no-repeat; }

.profile-pic {
  background: url("/img/dummy.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

.loading {
  text-align: center; }
  .loading img {
    display: inline; }

.filter .sort {
  margin: 0 8px 11px 2px; }
.filter .search-query {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 6px;
  -webkit-border-radius: 14px;
  border-radius: 14px; }

.linebreak .nav-tabs {
  width: 100%;
  padding: 0 20px;
  margin-left: -19px; }
.linebreak .nav-tabs > li > a {
  color: gray; }
.linebreak .nav-tabs > .active > a, .linebreak .nav-tabs > .active > a:hover {
  background: whitesmoke; }

.navbar {
  z-index: 1060;
  text-shadow: none; }
  .navbar nav {
    font-weight: bold; }
  .navbar .nav > li > a {
    border-right: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05);
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05); }
  .navbar .brand {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    background: url("/img/logo128.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .navbar .nav-img {
    width: 30px;
    height: 30px;
    margin-top: 4px; }
  .navbar .score {
    padding: 8px 10px 0px; }
    .navbar .score .dollar {
      height: 21px;
      width: 21px; }
  .navbar .profile-pic {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.well {
  box-shadow: none;
  border-color: #dddddd; }
  .well .heading {
    margin-bottom: 20px; }

.menu .nav-stacked > li > a {
  font-size: 14px;
  background-color: whitesmoke; }
  .menu .nav-stacked > li > a i {
    margin-right: 3px; }
.menu .nav-tabs > li > a:hover i {
  opacity: 0.5;
  filter: alpha(opacity=50); }
.menu .nav-tabs > .active > a, .menu .nav-tabs > .active > a:hover {
  font-weight: bold; }

#content {
  margin-top: 60px; }

.fold:last-child {
  padding-bottom: 0; }

.alert:last-child {
  margin-bottom: 0; }

.accomplishment, .comment {
  margin-bottom: 30px;
  border-left: 1px dashed #dddddd; }
  .accomplishment .icon-side, .comment .icon-side {
    float: left;
    margin-left: -35px;
    width: 35px;
    text-align: center; }
  .accomplishment .body, .comment .body {
    margin-left: 35px; }

.accomplishment .story {
  margin-top: 15px;
  margin-bottom: 15px; }

.comments .comment {
  min-height: 75px; }
  .comments .comment .body {
    margin-bottom: 15px; }
    .comments .comment .body .text {
      width: 100%; }
.comments .hover {
  background: #efefef; }
.comments .nested {
  margin-left: 35px; }
.comments .text-wrapper .comment-text {
  margin-bottom: 20px; }
.comments .text-wrapper .edit-text {
  background: none; }

.my {
  color: #4dc206; }

.activity {
  display: block;
  float: left;
  color: #333333; }
  .activity .well {
    position: relative;
    width: 160px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    border: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .activity .well .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 130px;
      padding: 15px;
      height: 146.667px;
      background: rgba(255, 255, 255, 0.75);
      -webkit-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px; }

.create .well {
  background-color: transparent;
  border: 2px dashed #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .create .well .open {
    color: #999999; }
  .create .well .text {
    color: #999999;
    background: transparent; }

.ta100 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.activity-modal {
  position: absolute;
  top: 20px;
  margin-top: 0;
  margin-bottom: 20px; }
  .activity-modal .modal-body {
    height: auto;
    max-height: none; }

.modal-backdrop {
  background: black;
  opacity: 0.5;
  filter: alpha(opacity=50); }

.modal-separator {
  border-bottom: 1px solid #dddddd;
  -webkit-border-radius: 0px;
  border-radius: 0px; }

#tag-filter {
  margin-top: -10px;
  margin-bottom: 20px; }

.tag-list .tag, .tag-list h6.tags {
  display: inline-block;
  margin-right: 3px; }
.tag-list .active {
  background-color: #0088cc; }
.tag-list .remove {
  color: inherit; }
  .tag-list .remove:hover {
    text-decoration: none; }

.edittag-input {
  height: 16px;
  padding: 0 3px;
  margin-bottom: 0px !important;
  color: #333333;
  text-shadow: inherit;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .edittag-input:hover {
    color: #333333; }

.expandAchievement {
  margin-top: 15px; }

.userWidget, .userBanner {
  min-height: 50px; }
  .userWidget .name, .userBanner .name {
    margin-left: 65px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2px;
    line-height: 80%; }
    .userWidget .name a, .userBanner .name a {
      color: inherit; }
      .userWidget .name a:hover, .userBanner .name a:hover {
        text-decoration: none; }
  .userWidget .score, .userBanner .score {
    color: #4dc206;
    font-family: "SubtleSansRegular";
    font-size: 36px;
    font-weight: normal;
    line-height: 100%;
    text-align: right; }
  .userWidget .profile-pic, .userBanner .profile-pic {
    margin-right: 15px;
    margin-bottom: 15px;
    width: 50px;
    height: 50px; }
  .userWidget .rank, .userBanner .rank {
    clear: both; }
    .userWidget .rank .span4, .userBanner .rank .span4 {
      width: 33%;
      margin: 0; }

.userBanner {
  min-height: 100px; }
  .userBanner .pull-right {
    text-align: right; }
  .userBanner .score {
    font-size: 48px; }
  .userBanner .profile-pic {
    width: 100px;
    height: 100px; }
  .userBanner .name {
    margin-left: 115px;
    margin-bottom: 7.5px; }
  .userBanner .about {
    color: gray; }
    .userBanner .about .bio {
      font-style: italic; }

.line {
  width: 100%;
  border-bottom: 1px solid #e5e5e5; }

.fold {
  width: 100%;
  padding: 15px 19px;
  margin-left: -20px;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  background: #d9d9d9;
  background: -moz-linear-gradient(top, #d9d9d9 0px, whiteSmoke 5px, whiteSmoke 100px);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px, #d9d9d9), color-stop(5px, whiteSmoke), color-stop(100px, whiteSmoke));
  background: -webkit-linear-gradient(top, #d9d9d9 0px, whiteSmoke 5px, whiteSmoke 100px);
  background: -o-linear-gradient(top, #d9d9d9 0px, whiteSmoke 5px, whiteSmoke 100px);
  background: -ms-linear-gradient(top, #d9d9d9 0px, whiteSmoke 5px, whiteSmoke 100px);
  background: linear-gradient(top, #d9d9d9 0px, whiteSmoke 5px, whiteSmoke 100px); }

i {
  opacity: 0.5;
  filter: alpha(opacity=50);
  transition: opacity 0.2s linear;
  -moz-transition: opacity 0.21s linear;
  -o-transition: opacity 0.21s linear;
  -webkit-transition: opacity 0.2s linear; }

a:hover i, a i.active, button:hover i, button i.active {
  opacity: 1;
  filter: alpha(opacity=100); }

.vote-container {
  width: 35px;
  text-align: center;
  color: gray; }

.icons {
  list-style: none;
  margin: 0; }
  .icons li {
    float: left;
    margin-right: 5px; }

.new {
  display: block;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none; }
  .new:hover {
    text-decoration: none; }

.achievement a {
  color: gray; }
.achievement .icon {
  -webkit-border-radius: 6px;
  border-radius: 6px;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url("/img/bg_new.png");
  border: 2px solid gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.achievement .content {
  margin-left: 60px; }
  .achievement .content .title {
    line-height: 80%;
    margin-bottom: 5px; }
  .achievement .content .description .tag {
    color: gray; }
.achievement .value {
  display: block;
  font-size: 200%;
  line-height: 185%;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-family: "SubtleSansRegular";
  background: url("/img/tag.png");
  background-size: 50px 200px;
  background-position: 0 0; }
.achievement:hover .hide {
  display: block; }

.uncompleted a {
  color: #f70852; }
.uncompleted .icon {
  border-color: #f70852; }
.uncompleted .value {
  background-position: 0 50px; }

.accepted a {
  color: #f89406; }
.accepted .icon {
  border-color: #f89406; }
.accepted .value {
  background-position: 0 150px; }

.completed a {
  color: #4dc206; }
.completed .icon {
  border-color: #4dc206; }
.completed .value {
  background-position: 0 100px; }

.time {
  color: gray; }

.minimal {
  margin-top: 7.5px;
  padding: 7.5px; }
  .minimal .menu {
    display: none; }

.user {
  margin-bottom: 7.5px; }
  .user .content {
    color: gray; }
  .user .face {
    display: inline-block;
    width: 25px;
    height: 25px; }
