::selection {
  background: #9efa67;
  text-shadow: none; }

::-moz-selection {
  background: #9efa67;
  text-shadow: none; }

body {
  overflow-y: scroll;
  overflow-x: hidden; }
  @media (max-width: 480px) {
    body {
      background: whitesmoke; } }

a {
  cursor: pointer;
  -webkit-transition: color 0.2s linear;
  -moz-transition: color 0.2s linear;
  -ms-transition: color 0.2s linear;
  -o-transition: color 0.2s linear;
  transition: color 0.2s linear; }
  a:hover {
    text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  margin: 0; }

.score .value {
  font-family: "SubtleSansRegular";
  font-size: 28px;
  font-weight: normal;
  vertical-align: bottom; }
.score .dollar {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  width: 35px;
  height: 35px;
  background: url("/img/onescore_dollar.png") no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }
.score .dollar-green {
  background: url("/img/onescore_dollar_green.png") no-repeat; }
.score .dollar-red {
  background: url("/img/onescore_dollar_red.png") no-repeat; }

.profile-pic {
  background: url("/img/dummy.png");
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -ms-background-size: contain;
  -o-background-size: contain;
  background-size: contain; }

.loading {
  text-align: center; }
  .loading img {
    display: inline; }

.linebreak .nav-tabs {
  width: 100%;
  padding: 0 20px;
  margin-left: -19px; }
.linebreak .nav-tabs > li > a {
  color: gray; }
.linebreak .nav-tabs > .active > a, .linebreak .nav-tabs > .active > a:hover {
  background: whitesmoke; }

.popover {
  z-index: 1070; }

.navbar {
  text-align: center; }
  .navbar .passive {
    opacity: 0.75;
    filter: alpha(opacity=75); }
    .navbar .passive a {
      cursor: default; }
  .navbar .progress {
    margin: 0;
    border-radius: 0;
    height: 4px;
    background: #ebebeb;
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    overflow: visible;
    -webkit-transition: height 0.2s linear;
    -moz-transition: height 0.2s linear;
    -ms-transition: height 0.2s linear;
    -o-transition: height 0.2s linear;
    transition: height 0.2s linear; }
    .navbar .progress .bar {
      background: #4dc206;
      height: 4px;
      -webkit-transition: height 0.2s linear;
      -moz-transition: height 0.2s linear;
      -ms-transition: height 0.2s linear;
      -o-transition: height 0.2s linear;
      transition: height 0.2s linear; }
  .navbar .label {
    position: relative;
    top: -14px;
    background-color: #4dc206; }
  .navbar .container {
    position: relative; }
    .navbar .container .notify {
      position: absolute;
      top: 3px;
      left: 23px;
      z-index: 1040;
      background: #4dc206;
      color: white; }
  .navbar .nav > .spell-item {
    position: relative;
    width: 44px;
    text-align: center; }
  .navbar .nav > .divider-vertical {
    margin: 0; }
  .navbar .brand {
    padding: 0;
    margin: 0;
    margin-right: 5px;
    background: url("/img/logo128.png") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover; }
  .navbar .nav-img {
    width: 30px;
    height: 30px;
    margin-top: 4px; }
  .navbar .score {
    padding: 8px 10px 0px; }
    .navbar .score .dollar {
      height: 21px;
      width: 21px; }
  .navbar .profile-pic {
    display: block;
    border: 1px solid rgba(255, 255, 255, 0.25);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

.heading {
  text-transform: uppercase;
  font-size: 12px;
  color: #999999; }

.well {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-color: #dddddd; }
  .well .heading {
    margin-bottom: 14px; }
  .well .breadcrumb {
    background-color: #f0f0f0; }
    .well .breadcrumb li:first-child {
      font-weight: bold; }
  @media (max-width: 480px) {
    .well {
      width: 100%;
      margin-left: -19px;
      background: none;
      border: none; } }

.menu .nav-stacked > li > a {
  font-size: 14px;
  background-color: whitesmoke; }
  .menu .nav-stacked > li > a i {
    margin-right: 3px; }
.menu .nav-tabs > li > a:hover i {
  opacity: 0.5;
  filter: alpha(opacity=50); }
.menu .nav-tabs > .active > a, .menu .nav-tabs > .active > a:hover {
  background-color: whitesmoke;
  font-weight: bold; }

#content {
  margin-top: 65px; }

.accomplishment, .comment {
  margin-bottom: 20px; }
  .accomplishment .icon-side, .comment .icon-side {
    float: left;
    margin-left: -35px;
    width: 35px;
    text-align: center; }
  .accomplishment .body, .comment .body {
    margin-left: 35px; }

.part {
  margin-bottom: 7px; }

.accomplishment .story {
  margin-bottom: 20px; }

.comment .body {
  min-height: 75px; }

.comments .comment {
  border-left: 1px dashed #dddddd; }
  .comments .comment .text {
    width: 100%; }
.comments .hover {
  background: #f0f0f0; }
.comments .nested {
  margin-left: 33px; }
.comments .cutoff {
  margin: 0;
  border-top: 0;
  border-bottom: 1px dashed #dddddd; }
.comments .text-wrapper .comment-text {
  margin-bottom: 20px; }
.comments .text-wrapper .edit-text {
  background: none; }

.my {
  color: #4dc206; }

.activity {
  display: block;
  float: left;
  color: #333333; }
  .activity .well {
    position: relative;
    width: 160px;
    height: 220px;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 15px;
    border: none;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -ms-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
    .activity .well .text {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 130px;
      padding: 15px;
      height: 146.667px;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 0 0 4px 4px; }

.create .well {
  background-color: transparent;
  border: 2px dashed #cccccc;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .create .well .open {
    color: #999999; }
  .create .well .text {
    color: #999999;
    background: transparent; }

.ta100 {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.modal .modal-header {
  padding-bottom: 0; }
  .modal .modal-header .close {
    margin-top: 0; }

.modal-backdrop.fade.in {
  background: black;
  opacity: 0.33;
  filter: alpha(opacity=33); }

.modal-separator {
  border-bottom: 1px solid #dddddd;
  border-radius: 0px; }

.tag-list .label {
  display: inline-block;
  vertical-align: baseline;
  zoom: 1;
  *display: inline;
  *vertical-align: auto;
  margin-right: 3px;
  margin-bottom: 3px; }
.tag-list .active {
  background-color: #4dc206; }
.tag-list .remove {
  color: inherit; }
  .tag-list .remove:hover {
    text-decoration: none; }

.tag-list .edittag-input {
  padding: 0 3px;
  margin-bottom: 0px;
  font-size: 11px;
  color: gray;
  text-shadow: inherit;
  background: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.expandAchievement {
  margin-top: 14px; }

.userWidget, .userBanner {
  min-height: 50px; }
  .userWidget .name, .userBanner .name {
    line-height: 80%;
    margin-left: 64px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 2px; }
    .userWidget .name a, .userBanner .name a {
      color: inherit; }
      .userWidget .name a:hover, .userBanner .name a:hover {
        text-decoration: none; }
  .userWidget .score, .userBanner .score {
    color: #4dc206;
    font-family: "SubtleSansRegular";
    font-size: 36px;
    font-weight: normal;
    line-height: 100%;
    text-align: right; }
  .userWidget .profile-pic, .userBanner .profile-pic {
    margin-right: 14px;
    margin-bottom: 14px;
    width: 50px;
    height: 50px; }
  .userWidget .rank, .userBanner .rank {
    clear: both; }
    .userWidget .rank .span4, .userBanner .rank .span4 {
      width: 33%;
      margin: 0; }

.userBanner {
  min-height: 100px; }
  .userBanner .pull-right {
    text-align: right; }
  .userBanner .score {
    font-size: 48px; }
  .userBanner .profile-pic {
    width: 100px;
    height: 100px; }
  .userBanner .name {
    margin-left: 114px;
    margin-bottom: 7px; }
  .userBanner .about {
    color: gray; }
    .userBanner .about .bio {
      font-style: italic; }

.line {
  width: 100%;
  margin-left: -19px;
  padding: 0 19px;
  border-bottom: 1px solid #dddddd;
  margin-top: -5px; }

.fold {
  width: 100%;
  padding: 14px 19px;
  margin-left: -19px;
  background-color: #cccccc;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(whiteSmoke 5%, #cccccc 0%), color-stop(100%, whiteSmoke));
  background-image: -webkit-linear-gradient(top, #cccccc 0%, whiteSmoke 5%, whiteSmoke 100%);
  background-image: -moz-linear-gradient(top, #cccccc 0%, whiteSmoke 5%, whiteSmoke 100%);
  background-image: -ms-linear-gradient(top, #cccccc 0%, whiteSmoke 5%, whiteSmoke 100%);
  background-image: -o-linear-gradient(top, #cccccc 0%, whiteSmoke 5%, whiteSmoke 100%);
  background-image: linear-gradient(top, #cccccc 0%, whiteSmoke 5%, whiteSmoke 100%);
  -webkit-background-size: 100% 100px;
  -moz-background-size: 100% 100px;
  -ms-background-size: 100% 100px;
  -o-background-size: 100% 100px;
  background-size: 100% 100px;
  background-color: whiteSmoke;
  background-repeat: no-repeat; }
  .fold .alert {
    margin-bottom: 0; }

i {
  opacity: 0.5;
  filter: alpha(opacity=50);
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

i.icon-white {
  opacity: 1;
  filter: alpha(opacity=100); }

a:hover i, a i.active, button:hover i, button i.active {
  opacity: 1;
  filter: alpha(opacity=100); }

.vote-container {
  width: 33px;
  text-align: center;
  color: gray; }

.icons {
  list-style: none;
  margin: 0; }
  .icons li {
    float: left;
    margin-right: 5px; }

.advice {
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  text-decoration: none; }
  .advice a:hover {
    text-decoration: none; }

.achievement a {
  color: gray; }
.achievement .icon {
  border-radius: 6px;
  display: block;
  float: left;
  width: 50px;
  height: 50px;
  background: url("/img/bg_new.png");
  border: 2px solid gray;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
.achievement .content {
  margin-left: 60px; }
  .achievement .content .description {
    color: gray; }
    .achievement .content .description .tag {
      color: #999999; }
.achievement .value {
  display: block;
  font-size: 24px;
  line-height: 48px;
  color: white;
  text-align: center;
  text-decoration: none;
  width: 50px;
  height: 50px;
  font-family: "SubtleSansRegular";
  background: url("/img/tag.png");
  background-size: 50px 200px;
  background-position: 0 0; }
.achievement:hover .hide {
  display: block; }

.uncompleted a {
  color: #f70852; }
.uncompleted .icon {
  border-color: #f70852; }
.uncompleted .value {
  background-position: 0 50px; }

.accepted a {
  color: #f89406; }
.accepted .icon {
  border-color: #f89406; }
.accepted .value {
  background-position: 0 150px; }

.completed a {
  color: #4dc206; }
.completed .icon {
  border-color: #4dc206; }
.completed .value {
  background-position: 0 100px; }

.mini {
  min-height: 20px;
  font-size: 13px;
  margin-bottom: 5px; }
  .mini .title {
    display: inline;
    font-size: 13px; }
  .mini .icon {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    float: none;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border-width: 1px;
    vertical-align: middle; }

.times {
  color: gray; }

.embed {
  margin: 14px 0; }
  .embed .icons {
    display: none; }

.user {
  color: gray; }
  .user .face {
    display: inline-block;
    vertical-align: baseline;
    zoom: 1;
    *display: inline;
    *vertical-align: auto;
    width: 20px;
    height: 20px; }

.ladder {
  color: gray; }
  .ladder .rank {
    width: 30px; }
  .ladder .right {
    text-align: right; }

.filter .nav {
  min-height: 35px; }

.notifications .filter .sort, .ladder .filter .sort {
  display: none; }

.notifications tr:first-child > td {
  border-top: none; }

.vote-inline .vote-row {
  display: inline; }

.titles .title-suggestion {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 7px;
  color: #f70852; }
.titles tr:first-child .title-suggestion {
  color: #4dc206; }
