// Variables 
$font: 'SubtleSansRegular' 

$red: #f70852
$green: #4dc206
$yellow: #f89406

$bg1: #ebebeb
$bg2: #f8f8f8

$fg1: #333
$fg2: #777
$fg3: #aaa

$margin: 15px
$padding: 15px

$iconSize: 50px

@mixin column-shadow
  -webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15)
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.15)

@mixin well-shadow
  -webkit-box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.1)
  box-shadow: inset 1px 1px 3px 2px rgba(0, 0, 0, 0.1)

@mixin achievement-shadow($bg, $shadow)
  background: $shadow
  background: -moz-linear-gradient(top, $shadow 0px, $bg 5px, $bg 100px)
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0px,$shadow), color-stop(5px,$bg), color-stop(100px,$bg))
  background: -webkit-linear-gradient(top, $shadow 0px,$bg 5px,$bg 100px)
  background: -o-linear-gradient(top, $shadow 0px,$bg 5px,$bg 100px)
  background: -ms-linear-gradient(top, $shadow 0px,$bg 5px,$bg 100px)
  background: linear-gradient(top, $shadow 0px,$bg 5px,$bg 100px)

@mixin border-radius($x)
  -webkit-border-radius: $x
  border-radius: $x

@mixin box-sizing($x) 
  -webkit-box-sizing: $x
  -moz-box-sizing: $x
  box-sizing: $x

@mixin background-size($size) 
  -webkit-background-size: $size
  -moz-background-size: $size
  -o-background-size: $size
  background-size: $size

::selection
  background: lighten($green, 30%)
  text-shadow: none

::-moz-selection
  background: lighten($green, 30%)
  text-shadow: none

body
  overflow-y: scroll
  overflow-x: hidden

a
  cursor: pointer
  transition: color 0.2s linear
  -moz-transition: color 0.21s linear
  -o-transition: color 0.21s linear
  -webkit-transition: color 0.2s linear

.score
  .value
    font:
      family: $font
      size: 28px
      weight: normal

  .dollar
    display: inline-block
    width: 35px
    height: 35px
    background: url('/img/onescore_dollar.png') no-repeat
    @include background-size(contain)

  .dollar-green
    background: url('/img/onescore_dollar_green.png') no-repeat

  .dollar-red
    background: url('/img/onescore_dollar_red.png') no-repeat

.profile-pic
  background: url('/img/dummy.png') 
  @include background-size(contain)

.loading
  text-align: center
  img
    display: inline

.filter
  .sort
    margin: 0 8px 11px 2px

  .search-query
    padding-left: 10px
    padding-right: 10px
    margin-bottom: 6px
    @include border-radius(14px)

.linebreak
  .nav-tabs
    width: 100%
    padding: 0 20px
    margin-left: -19px

  .nav-tabs > li > a 
    color: gray

  .nav-tabs > .active > a, .nav-tabs > .active > a:hover
    background: whitesmoke

.navbar
  z-index: 1060
  text-shadow: none

  nav
    font-weight: bold

  .nav > li > a
    border-right: 1px solid rgba(255, 255, 255, 0.25)
    -webkit-box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05)
    box-shadow: inset -1px 0px 0px 0px rgba(0, 0, 0, 0.05)

  .brand
    padding: 0
    margin: 0
    margin-right: 5px
    background: url('/img/logo128.png') no-repeat
    @include background-size(cover)

  .nav-img
    width: 30px
    height: 30px
    margin-top: 4px

  .score
    padding: 8px 10px 0px
    .dollar
      height: 21px
      width: 21px

  .profile-pic
    display: block
    border: 1px solid rgba(255,255,255,0.25)
    @include box-sizing(border-box)

.well
  box-shadow: none
  border-color: #ddd

  .heading
    margin-bottom: 20px

.menu
  .nav-stacked > li > a
    font-size: 14px
    background-color: whitesmoke

    i
      margin-right: 3px

  .nav-tabs > li > a:hover i
    opacity: 0.5
    filter: alpha(opacity=50)

  .nav-tabs > .active > a, .nav-tabs > .active > a:hover
    font-weight: bold

#content
  margin-top: 60px

.fold:last-child
  padding-bottom: 0

.alert:last-child
  margin-bottom: 0

.accomplishment
  .icon-side
    float: left
    margin-left: -35px
    width: 35px
    text-align: center
    
  .body
    margin-left: 35px

  .story
    //border-top: 1px solid #ddd
    //padding-top: $padding/2
    //margin-top: $padding/2
    margin-top: $padding
    margin-bottom: $padding

.comments
  margin-left: $padding
  .comment
    min-height: 65px
    border-left: 1px dashed #ddd
    @include border-radius(3px)

    .vote-container
      margin-left: -$padding

    .body
      margin-left: 20px
      margin-bottom: $padding

      .text
        width: 100%

  .hover
    background: #efefef

  .nested
    margin-left: 2*$padding

  .alert
    margin-left: -$padding

  .text-wrapper
    .comment-text
      margin-bottom: 20px

    .edit-text
      background: none

.my
  color: $green

$activityWidth: 160px
$activityHeight: 220px
$activityPadding: 15px

.activity
  display: block
  float: left
  color: #333
  
  .well
    position: relative
    width: $activityWidth
    height: $activityHeight
    margin-right: 20px
    margin-bottom: 20px
    overflow: hidden
    padding: 15px
    border: none
    @include background-size(cover)
    @include box-sizing(border-box)
    
    .text
      position: absolute
      bottom: 0
      left: 0
      width: $activityWidth - (2*$activityPadding)
      padding: $activityPadding
      height: $activityHeight/3*2
      background: rgba(255, 255, 255, 0.75)
      -webkit-border-radius: 0 0 4px 4px
      border-radius: 0 0 4px 4px

.create
  .well
    background-color: transparent
    border: 2px dashed #ccc
    -webkit-box-shadow: none
    box-shadow: none
    
    .open
      color: #999
    .text
      color: #999
      background: transparent

.ta100
  width: 100%
  @include box-sizing(border-box)

.activity-modal
  position: absolute
  top: 20px
  margin-top: 0
  margin-bottom: 20px

  .modal-body
    height: auto
    max-height: none

.modal-backdrop
  background: #000
  opacity: 0.5
  filter: alpha(opacity=50)

.modal-separator
  border-bottom: 1px solid #DDD
  @include border-radius(0px)

#tag-filter
  margin-top: -10px
  margin-bottom: 20px

.tag-list
  .tag, h6.tags
    display: inline-block
    margin-right: 3px
    
  .active
    background-color: #08c

  .remove
    color: inherit
    &:hover
      text-decoration: none

.edittag-input
  height: 16px
  padding: 0 3px
  margin-bottom: 0px!important
  color: #333
  text-shadow: inherit
  background: none
  @include box-sizing(border-box)

  &:hover
    color: #333

.expandAchievement
  margin-top: $padding

.userWidget, .userBanner
  min-height: 50px
  .name 
    margin-left: $iconSize + $padding
    border-bottom: 1px solid #ddd
    padding-bottom: 2px
    line-height: 80%
    a
      color: inherit
      &:hover
        text-decoration: none

  .score
    color: $green
    font:
      family: $font
      size: 36px
      weight: normal
    line-height: 100%
    text-align: right

  .profile-pic
    margin-right: $margin
    margin-bottom: $margin
    width: $iconSize 
    height: $iconSize

  .rank
    clear: both
    .span4
      width: 33%
      margin: 0

.userBanner
  min-height: 100px

  .pull-right
    text-align: right

  .score
    font-size: 48px

  .profile-pic
    width: 100px
    height: 100px

  .name 
    margin-left: 100px + $padding
    margin-bottom: $padding/2

  .about
    color: gray
    .bio
      font-style: italic

.line
  width: 100%
  border-bottom: 1px solid #e5e5e5

.fold
  width: 100%
  padding: $padding 19px
  margin-left: -20px
  border-left: 1px solid #ddd
  border-right: 1px solid #ddd
  @include achievement-shadow(whiteSmoke, #d9d9d9)

i
  opacity: 0.5
  filter: alpha(opacity=50)
  transition: opacity 0.2s linear
  -moz-transition: opacity 0.21s linear
  -o-transition: opacity 0.21s linear
  -webkit-transition: opacity 0.2s linear

a:hover i, a i.active, button:hover i, button i.active
  opacity: 1
  filter: alpha(opacity=100)

.vote-container
  width: 2*$padding
  //line-height: 130%
  text-align: center
  color: gray

.icons
  list-style: none
  margin: 0
  li
    float: left
    margin-right: 5px

.new
  display: block
  font:
    weight: bold
    size: 14px
  text:
    align: center
    decoration: none
  &:hover
    text-decoration: none

.achievement
  a
    color: gray

  .icon
    @include border-radius(6px)
    display: block
    float: left
    width: $iconSize
    height: $iconSize
    background: url('/img/bg_new.png')
    border: 2px solid gray
    @include box-sizing(border-box)
    @include background-size(cover)

  .content
    margin-left: $iconSize + 10px
    .title
      line-height: 80%
      margin-bottom: 5px
    .description
      .tag
        color: gray

  .value
    display: block
    font-size: 200%
    line-height: 185%
    color: #fff
    text-align: center
    text-decoration: none
    width: $iconSize
    height: $iconSize
    font-family: $font
    background: url('/img/tag.png')
    background-size: $iconSize 4*$iconSize 
    background-position: 0 0 

  &:hover 
    .hide
      display: block

.uncompleted
  a
    color: $red
  .icon
    border-color: $red
  .value
    background-position: 0 $iconSize

.accepted
  a
    color: $yellow
  .icon
    border-color: $yellow
  .value
    background-position: 0 3*$iconSize

.completed
  a
    color: $green
  .icon
    border-color: $green
  .value
    background-position: 0 2*$iconSize

.time
  color: gray

.minimal
  margin-top: $padding/2
  .menu
    display: none
    
.user
  border-bottom: 1px solid #ddd
  padding-bottom: 3px
  margin-bottom: 3px

  .content
    color: gray
    //font:
    //  size: 14px

    //.score
    //  .value
    //    font-size: 18px
    //  .dollar
    //    width: 18px
    //    height: 18px

  .face
    display: inline-block
    width: $iconSize/2
    height: $iconSize/2

