%head
  %title Onescore

  %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  %meta(name="apple-mobile-web-app-capable" content="yes")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

  %link(rel="icon" href="img/icon16.png" sizes="16x16" type="image/png")
  %link(rel="icon" href="img/icon32.png" sizes="32x32" type="image/png")
  %link(rel="icon" href="img/icon96.png" sizes="96x96" type="image/png")
  %link(rel="apple-touch-icon" href="img/icon96.png")
  %link(rel="apple-touch-precomposed" href="img/icon96.png")

%body
  .navbar.navbar-fixed-top
    .navbar-inner
      %header.container
        {{> header }}

  #content.container
    {{> content }}

%template(name='content')
  {{#if page "dashboard"}}
  -#.row
    .span12
      .hero-unit
        %h1 Heading
        %p Tagline
        %p 
          %a.btn.btn-primary.btn-large Learn more
  .row
    .span8
      %section.well
        %h3.heading Home
        {{> filter }}
        {{> dashboard }}

    .span4
      %aside.well 
        {{> userWidget }}
      %aside.well 
        %h3 FAQ
      %aside.well 
        %h3 Tags
      %aside.well 
        %h3 Quest Items
  {{/if}}

  {{#if page "achievements"}}
  .row
    .span4
      %aside.well.hidden-phone
        %h3 Tags
      %aside.well.hidden-phone
        %h3 Quest Items
    .span8
      %section.well 
        {{> achievements }}
  {{/if}}

  {{#if page "ladder"}}
  .row
    .span4
      %aside.well.hidden-phone 
        %h3 League
      %aside.well.hidden-phone 
        %h3 ???
      %aside.well.hidden-phone 
        %h3 Quest Items
    .span8
      %section.well 
        %h3.heading Ladder
        {{> filter }}
        .clearfix
  {{/if}}

  {{#if page "profile"}}
  .row
    .span12
      %section.well 
        {{> userWidget }}
  .row
    .span4
      {{> menu }}
      %aside.well.hidden-phone 
        %h3 Tags
      %aside.well.hidden-phone 
        %h3 Quest Items
    .span8
      %section.well 
        %h3.heading Activity
        {{> filter }}
        .clearfix
        {{> timeline }}
  {{/if}}

  {{#if page "activities"}}
  .row
    .span12
      .well 
        {{> activities }}
  {{/if}}

  {{#if page "slides"}}
  .row
    .span12
      .well 
        {{> slideshows }}
  {{/if}}

  {{#if page "feedback"}}
  .row
    .span12 
      .well
        %h3 Y U NO MAKE BETTER?
  {{/if}}

%template(name='tags')
  .tag-list
    {{#each tags}}
    %span.tag.label.active(data-tag="{{tag}}")
      {{tag}}
      %a.remove(id="{{../_id}}" title="Remove this tag") ×
    {{/each}}

    {{#if addingTag}}
    %input.edittag-input.label.input-mini(id="edittag-{{_id}}" type="text")/
    {{else}}
    %a.add.tag.label(title="Add a tag") + tag
    {{/if}}

%template(name='tagFilter')
  #tag-filter.tag-list
    %h6.tags Tags: 
    {{#each tags}}
    <a class="tag label {{isActive "tagFilter" tag}}" data-tag="{{tag}}">
    {{tag}}
    %span.count ({{count}})
    </a>
    {{/each}}

%template(name='menu')
  %nav.menu
    %ul.nav.nav-tabs.nav-stacked
      %li
        %a(href="#")
          %i.icon-book
          Quests
      %li
        %a(href="#")
          %i.icon-star
          Favourites
      %li
        %a(href="#")
          %i.icon-pencil
          Edits
      %li
        %a(href="#")
          %i.icon-arrow-right
          Votes
      -#%li
        %a(href="#")
          %i.icon-glass
          Inventory

%template(name='filter')
  .filter
    %input.input-medium.search-query.pull-right(type="text" placeholder="Search")/

    %nav.nav.nav-tabs 
      %li.active 
        %a All
      %li
        %a City
      %li
        %a Friends

    -#.btn-group.pull-right
      %button.btn.active(href="#" title="Stories") 
        %i.icon-align-left
      %button.btn(href="#" title="Achievements")
        %i.icon-certificate
      %button.btn(href="#" title="Comments") 
        %i.icon-comment
      %button.btn(href="#" title="Items") 
        %i.icon-glass

    .sort.pull-left
      %span Sort by:
      %select.span1
        %option Hot
        %option New
        %option Best

%template(name='header')
  %a.brand.nav-img.pull-left.nav-item(href="dashboard")
  %nav.nav
    %li.dropdown
      %a.dropdown-toggle(data-toggle="dropdown")<
        %span Onescore
        %b.caret
      %ul.dropdown-menu
        {{#each categories}}
        %li
          %a.nav-item {{name}}
        {{/each}}
    {{#each items}}
    <li class="nav-{{url}} {{isActive "page" url}}">
    %a.nav-item(href="{{url}}") {{name}}
    </li>
    {{/each}}

  {{#if currentUser}}
  %a.profile-pic.nav-item.nav-img.pull-right(href="profile")
  .score.pull-right.hidden-phone<
    %span.value {{currentUser.score}}
    %span.dollar
  {{else}}
  .login.pull-right
    {{> loginButtons}}
  {{/if}}

%template(name='userWidget')
  {{#if currentUser}}
  .user
    %a.profile-pic.pull-left(href="")

    {{#unless editUsername}} 
    %a.edit.pull-right (edit)
    %h3.name {{currentUser.name}}
    {{else}} 
    %input#user-name(type="text" value="{{name}}")/
    {{/unless}} 

    %h3.score<
      %span {{currentUser.score}}
      %span.dollar.dollar-green

    -#.rank
      %h3 
        Rank
      .friends.span4
        %h4 Friends
        %p.score 0
      .city.span4
        %h4 City
        %p.score 0
      .group.span4
        %h4 Group
        %p.score 0
    .clearfix
  {{else}}
  .login
    {{> loginButtons}}
  {{/if}}

%template(name='activities')
  .btn-group.pull-left
    <a id="my-activities" class='btn btn-filter {{isActive "activity-filter-1" "my"}}' data-filter="my" data-which="1">My Activities</a>
    <a id="lva-activities" class='btn btn-filter {{isActive "activity-filter-1" "lva"}}' data-filter="lva" data-which="1">LVA-Team Activities</a>
  .btn-group.pull-right
    <a id="fav-activities" class='btn btn-filter {{isActive "activity-filter-2" "fav"}}' data-filter="fav" data-which="2"><i class="icon-star"></i> Favourites</a>
    <a id="saved-activities" class='btn btn-filter {{isActive "activity-filter-2" "saved"}}' data-filter="saved" data-which="2"><i class="icon-edit"></i> Saved</a>
    <a id="pending-activities" class='btn btn-filter {{isActive "activity-filter-2" "pending"}}' data-filter="pending" data-which="2"><i class="icon-share"></i> Handed-In</a>
    <a id="done-activities" class='btn btn-filter {{isActive "activity-filter-2" "done"}}' data-filter="done" data-which="2"><i class="icon-check"></i> Evaluated</a>
  .clearfix
  {{> tagFilter }}

  .activity.create#create
    .well
      .text
        %h4
          %a.open Create New Activity
        %p Create an activity that others can accomplish

  {{#each activities}}
  {{> activity}}
  {{else}}
  {{#if noContent}}
  .alert.pull-left
    %strong Warning! 
    No activities matching the selection
  {{else}}
  {{> loading}}
  {{/if}}
  {{/each}}

  .modal.activity-modal.hide.create-modal
    {{> createActivityModal}}

  .modal.activity-modal.hide.accomplish-modal
    {{> accomplishActivityModal}}

  .clearfix

%template(name='loading')
  .loading
    %img(src="/loading.gif")/

%template(name='activity')
  .activity(id="activity-{{_id}}")
    .well
      %span.count {{score}}
      {{#unless userIn votes}}
      %a.up.icon-arrow-up(title="Vote Up")
      %a.down.icon-arrow-down(title="Vote Down")
      {{/unless}}

      .pull-right
        {{#if belongsTo user}}
        %a.remove.icon-remove(title="Delete")
        %a.edit.icon-pencil(title="Edit")
        {{/if}}
        {{#if userIn likes}}
        %a.unlike.icon-star(title="Remove from Favourites")
        {{else}}
        %a.like.icon-star-empty(title="Add to Favourites")
        {{/if}}

      -#.text(class="{{my}} {{lva}}")
      <div class="text {{isMe user}} {{isLva user}}">
      %h4
        %a.open {{name}}
      %p {{{wrapTags short}}} 
      </div>

%template(name='createActivityModal')
  {{#with activity}}
  .modal-header
    %button.close(type="button" data-dismiss="modal") ×
    %h2 {{#if title}} {{title}} {{else}} {{> loading}} {{/if}}
    {{> tags}}

  .modal-body
    %label Activity name
    %input.activity-name(id="name-{{_id}}" type="text" value="{{name}}")/

    %label Short description
    %textarea.description-short(id="short-{{_id}}" type="text" rows="4") {{short}}
    %span.help-block
      Provide a short description of the contents of this activity.
      %br/
      HINT: You can include #tags here.

    %label Full description
    %textarea.description-full.ta100(id="full-{{_id}}" type="text" rows="6") {{full}}
    %span.help-block Provide an in-depth description of the contents, requirements and tasks which are needed to complete this activity.

  .modal-footer
    %a.btn(data-dismiss="modal") Discard
    %a.create-activity.btn.btn-primary Save
  {{/with}}

%template(name='accomplishActivityModal')
  {{#with activity}}
  .modal-header
    %button.close(type="button" data-dismiss="modal") ×
    %h2 {{#if name}} {{name}} {{else}} {{> loading}} {{/if}}
    {{> tags}}

  .modal-body
    %h3 Full description
    %p {{full}}

    %h3 Required work
    %label Free Text 
    {{#with draft}}
    %textarea.accomplish-text.ta100(id="text-{{_id}}" type="text" rows="10" placeholder="") {{text}} 
    {{/with}}
    %span.help-block Write a text that fits the needs of this activity.

  .modal-footer.modal-separator
    %a.save-activity.btn 
      %i.icon-edit Save
    %a.hand-in-activity.btn.btn-primary
      %i.icon-share.icon-white
      Hand-In
  {{else}}
  {{> loading}}
  {{/with}}

  .modal-body
    %h3 Comments
    {{> dashboard}}

%template(name='dashboard')
  -#.btn-group.pull-left
    <a id="my-posts" class='btn btn-filter {{isActive "comment-filter" "my"}}' data-filter="my">My Posts</a>
    <a id="lva-posts" class='btn btn-filter {{isActive "comment-filter" "lva"}}' data-filter="lva">LVA-Team Posts</a>
    -#%a.btn#my-posts(class="{{myPostsActive}}" data-filter="my") My Own Posts
    -#%a.btn#lva-posts(class="{{lvaPostsActive}}" data-filter="lva") LVA-Team Posts
  .btn-group.pull-right
    %a.btn.add-comment Add Comment
  .clearfix
  #comments
    .temp
      {{#if addComment}}
      .text-wrapper
        %textarea.comment-text.ta100(rows="3")
      {{/if}}
    .comments
      {{> comments}}

%template(name='timeline')
  {{#each accomplishments}}

  {{#with achievement}}
  {{> achievement}}
  {{/with}}
  {{#markdown}}{{story}}{{/markdown}}

  {{else}}
  {{> placeholder}}
  {{/each}}

%template(name='placeholder')
  {{#if noContent}}
  {{> noContent}}
  {{else}}
  {{> loading}}
  {{/if}}

%template(name='achievements')
  %h3.heading Achievements
  {{> filter}}

  {{#with newAchievement}}
  <button class="btn pull-right new {{isActive "expand" _id}}" title="Create new achievement"><i class="icon-file"></i></button>
  .clearfix

  .dummy
    {{> achievement}}
  {{/with}}

  {{#each achievements}}
  {{> achievement}}
  {{else}}
  {{> placeholder}}
  {{/each}}

%template(name='achievement')
  .fold
    %article.achievement(class="{{completed}}")
      %a.value.pull-right.accomplish
        %span.points {{score}}
      .vote-container.pull-right
        %div
          %a.vote(data-up="true")<
            <i class="icon-arrow-up {{voted "up"}}" title="Vote up"></i>
        %div
          %span.count {{score}}
        %div
          %a.vote(data-up="false")<
            <i class="icon-arrow-down {{voted "down"}}" title="Vote down"></i>

      %a.icon.pull-left.expand

      .content
        %header.head
          %nav.menu.pull-right
            %li.expand
              %a(title="Expand")<
                {{#if equals "expand" _id}}
                {{#if expandTab}}
                <i class="icon-chevron-up active"></i>
                {{else}}
                <i class="icon-chevron-down"></i>
                {{/if}}
                {{else}}
                <i class="icon-chevron-down"></i>
                {{/if}}
            -#%li.accomplish
              %a(title="Accomplish this achievement")<
                <i class="icon-certificate {{#if equals "expandTab" "accomplish"}}{{isActive "expand" _id}}{{/if}}"></i>
            -#%li.quest
              %a(title="Add to quest log")<
                <i class="icon-book {{quest}}"></i>
            %li.fav
              %a(title="Add to favourites")<
                <i class="icon-star {{faved}}"></i>
            %li.edit
              %a(title="Edit")<
                <i class="icon-pencil {{#if equals "expandTab" "edit"}}{{isActive "expand" _id}}{{/if}}"></i>
            %li.talk
              %a(title="Comment")<
                <i class="icon-comment {{#if equals "expandTab" "talk"}}{{isActive "expand" _id}}{{/if}}"></i>

          %h4.title.expand
            {{#if title}}
            %a {{title}}
            {{else}}
            {{#if equals "newAchievement" _id}}
            %a.edit Create new achievement
            {{else}}
            %a(style="font-weight: normal") &lt;No title suggested&gt;
            {{/if}}
            {{/if}}

        .description
          {{#if description}}
          %span {{{wrapTags description}}}
          {{else}}
          %span This is a preview!
          {{/if}}
      .clearfix
  {{#if equals "expand" _id}}{{#if expandTab}}
  {{> expandAchievement}}
  {{/if}}{{/if}}

%template(name='titleSuggestions')
  %table.table.table-condensed
    %thead 
      %tr 
        %th Vote
        %th Score
        %th Title
    %tbody 
      {{#each titles}}
      %tr 
        %td
          %a.vote(data-up="true")<
            <i class="icon-arrow-up {{voted "up"}}" title="Vote up"></i>
          %a.vote(data-up="false")<
            <i class="icon-arrow-down {{voted "down"}}" title="Vote down"></i>
        %td
          %span {{score}}
        %td {{title}}
      {{/each}}

%template(name="editTabs")
  {{#if equals "newAchievement" _id}}
  %h3.heading.line Create new achievement
  {{else}}
  %nav.nav.nav-tabs 
    <li class="{{isActive "expandTab" "info"}}">
    %a.tab(data-tab="info") Info
    </li>
    <li class="{{isActive "expandTab" "edit"}}">
    %a.tab(data-tab="edit") Edit
    </li>
    <li class="{{isActive "expandTab" "talk"}}">
    %a.tab(data-tab="talk") Comments
    </li>
    -#<li class="{{isActive "expandTab" "rev"}}">
    -#%a.tab(data-tab="rev") Revisions
    -#</li>
    <li class="{{isActive "expandTab" "accomplish"}}">
    %a.tab(data-tab="accomplish") Accomplish
    </li>
  {{/if}}

%template(name="expandAchievement")
  {{> editTabs}}

  {{#if equals "expandTab" "info"}}
  -#{{> info}}
  {{/if}}

  {{#if equals "expandTab" "accomplish"}}
  {{> accomplish}}
  {{/if}}

  {{#if equals "expandTab" "edit"}}
  {{> editAchievement}}
  {{/if}}

  {{#if equals "expandTab" "talk"}}
  {{> dashboard}}
  {{/if}}

  {{#if equals "expandTab" "rev"}}
  %span rev...
  {{/if}}

%template(name="accomplish")
  .btn-group
    %button.btn.active(href="#" title="Text") 
      %i.icon-align-left
    %button.btn(href="#" title="Picture")
      %i.icon-picture
    %button.btn(href="#" title="Link") 
      %i.icon-bookmark
    -#%button.btn(href="#" title="Audio") 
      %i.icon-headphones
    -#%button.btn(href="#" title="Video") 
      %i.icon-film

  .control-group
  %label.control-label(for="accomplish-{{_id}}") Story (optional) 
  .controls
    %textarea.ta100(id="accomplish-{{_id}}" rows="12") {{text}}
    %span.help-block
      %strong HINT:
      You can style your post using markdown.
  .control-group

  %label.control-label Preview 
  .preview

  %footer.form-actions
    %button.btn.btn-primary.btn-large.create Accomplish

%template(name="editAchievement")
  {{#if equals "newAchievement" _id}}
  {{#if show "styleGuide"}}
  %div.alert.alert-block.alert-info
    %a.close(data-dismiss="alert" href="#") ×
    %h4.alert-heading Achievement style guide
    %p Achievements should have the following properties:
    %dl 
      %dt 
        %h5.alert-heading Atomic
      %dd Achievements should not be composed.
      %dt 
        %h5.alert-heading Universal
      %dd Achievements should be easy to agree on.
      %dt 
        %h5.alert-heading Unique
      %dd Check if the achievement already exists!
  {{/if}}
  {{/if}}

  .form-horizontal(id="form-{{_id}}")
    %fieldset 
      %div.control-group
        %label.control-label(for="title-{{_id}}") Title
        %div.controls 
          .input-append<
            %input.span3.title(type="text" id="title-{{_id}}" data-field="title")/
            %button.btn.suggest(type="button")> Suggest
          %p.help-block.heading
            %strong NOTE:
            You don't have to suggest a title.
          {{> titleSuggestions}}

      %div.control-group 
        %label.control-label(for="description-{{_id}}") Description
        %div.controls 
          %textarea.input-xlarge.description(id="description-{{_id}}" data-field="description" rows="4") {{description}}
          %p.help-block 
            What has to be done to complete this achievement?
            %br/
            %strong HINT:
            You can include #tags here.

      -#%div.control-group 
        %label.control-label(for="optionsCheckbox") Visibility
        %div.controls 
          %label.checkbox 
            %input(type="checkbox" id="optionsCheckbox" value="option1")/
              Make this achievement private

      %div.control-group 
        %label.control-label(for="category-{{_id}}") Category
        %div.controls                 
          %select.category(id="category-{{_id}}" data-field="category") 
            %option
            {{#each categories}}
            <option value="{{name}}" {{selected ../category}}>{{name}}</option>
            {{/each}}
          %p.help-block If it doesn't fit in anywhere, choose 'Random'
      -#%div.control-group 
        %label.control-label(for="multiSelect") Multicon-select
        %div.controls 
          %select(multiple="multiple" id="multiSelect") 
            %option 1
      -#%div.control-group 
        %label.control-label(for="fileInput") Image
        %div.controls 
          %input.input-file(id="fileInput" type="file")/
      %footer.form-actions
        %button.btn.btn-primary.btn-large.create Save

%template(name='noContent')
  .fold
    .alert
      %strong Warning! 
      No Content.

%template(name='comments')
  {{#each comments}}
  {{> comment}}
  {{#each replies}}
  {{> comment}}
  {{/each}}
  {{else}}
  {{> placeholder}}
  {{/each}}

%template(name='comment')
  %article.comment(id="comment-{{_id}}" class="{{nested}}")
    .sup
      .pull-left
        %span.name {{getUsername user}}
        {{#if userIn likes}}
        %a.unlike.icon-star(title="Unlike")
        {{else}}
        %a.like.icon-star-empty(title="Like")
        {{/if}}
        %span.count {{likesNum}}
      .hud.pull-right
        %span.date {{formatDate date}}
        {{#if belongsTo user}}
        %a.remove.icon-remove(title="Delete")
        %a.edit.icon-pencil(title="Edit")
        {{/if}}
        %a.reply.icon-share-alt(title="Reply")
      .text
        {{#if editComment}}
        .text-wrapper
          %textarea.edit-text.ta100(id="edit-{{_id}}" rows="3") {{text}}
        {{else}}
        %p {{mention}} {{{addLineBreaks text}}}
        {{/if}}
      {{#if addComment}}
      .text-wrapper.nested
        %textarea.comment-text.ta100(id="reply-{{_id}}" rows="3")
      {{/if}}
