%head
  %title Onescore

  %meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0")
  %meta(name="apple-mobile-web-app-capable" content="yes")
  %meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")

  %link(rel="icon" href="img/icon16.png" sizes="16x16" type="image/png")
  %link(rel="icon" href="img/icon32.png" sizes="32x32" type="image/png")
  %link(rel="icon" href="img/icon96.png" sizes="96x96" type="image/png")
  %link(rel="apple-touch-icon" href="img/icon96.png")
  %link(rel="apple-touch-precomposed" href="img/icon96.png")

%body
  {{> body}}

%template(name='loading')
  .loading
    %img(src="/loading.gif")/

%template(name='noContent')
  .alert
    %strong Warning! 
    No Content.

%template(name='activity')
  .activity(id="activity-{{_id}}")
    .well
      %span.count {{score}}
      {{#unless userIn votes}}
      %a.up.icon-arrow-up(title="Vote Up")
      %a.down.icon-arrow-down(title="Vote Down")
      {{/unless}}

      .pull-right
        {{#if belongsTo user}}
        %a.remove.icon-remove(title="Delete")
        %a.edit.icon-pencil(title="Edit")
        {{/if}}
        {{#if userIn likes}}
        %a.unlike.icon-star(title="Remove from Favourites")
        {{else}}
        %a.like.icon-star-empty(title="Add to Favourites")
        {{/if}}

      -#.text(class="{{my}} {{lva}}")
      <div class="text {{isMe user}} {{isLva user}}">
      %h4
        %a.open {{name}}
      %p {{{wrapTags short}}} 
      </div>

%template(name='createActivityModal')
  {{#with activity}}
  .modal-header
    %button.close(type="button" data-dismiss="modal") ×
    %h2 {{#if title}} {{title}} {{else}} {{> loading}} {{/if}}
    {{> tags}}

  .modal-body
    %label Activity name
    %input.activity-name(id="name-{{_id}}" type="text" value="{{name}}")/

    %label Short description
    %textarea.description-short(id="short-{{_id}}" type="text" rows="4") {{short}}
    %span.help-block
      Provide a short description of the contents of this activity.
      %br/
      HINT: You can include #tags here.

    %label Full description
    %textarea.description-full.ta100(id="full-{{_id}}" type="text" rows="6") {{full}}
    %span.help-block Provide an in-depth description of the contents, requirements and tasks which are needed to complete this activity.

  .modal-footer
    %a.btn(data-dismiss="modal") Discard
    %a.create-activity.btn.btn-success Save
  {{/with}}

%template(name='tags')
  .tag-list
    {{#each tags}}
    %span.tag.label.active(data-tag="{{tag}}")
      {{tag}}
      %a.remove(id="{{../_id}}" title="Remove this tag") ×
    {{/each}}

    {{#if addingTag}}
    %input.edittag-input.label.input-mini(id="edittag-{{_id}}" type="text")/
    {{else}}
    %a.add.tag.label(title="Add a tag") + tag
    {{/if}}

%template(name='tagFilter')
  #tag-filter.tag-list
    %h6.tags Tags: 
    {{#each tags}}
    <a class="tag label {{isActive "tagFilter" tag}}" data-tag="{{tag}}">
    {{tag}}
    %span.count ({{count}})
    </a>
    {{/each}}

%template(name='accomplishActivityModal')
  {{#with activity}}
  .modal-header
    %button.close(type="button" data-dismiss="modal") ×
    %h2 {{#if name}} {{name}} {{else}} {{> loading}} {{/if}}
    {{> tags}}

  .modal-body
    %h3 Full description
    %p {{full}}

    %h3 Required work
    %label Free Text 
    {{#with draft}}
    %textarea.accomplish-text.ta100(id="text-{{_id}}" type="text" rows="10" placeholder="") {{text}} 
    {{/with}}
    %span.help-block Write a text that fits the needs of this activity.

  .modal-footer.modal-separator
    %a.save-activity.btn 
      %i.icon-edit Save
    %a.hand-in-activity.btn.btn-primary
      %i.icon-share.icon-white
      Hand-In
  {{else}}
  {{> loading}}
  {{/with}}

  .modal-body
    %h3 Comments
    {{> comments}}

%template(name='activities')
  .btn-group.pull-left
    <a id="my-activities" class='btn btn-filter {{isActive "activity-filter-1" "my"}}' data-filter="my" data-which="1">My Activities</a>
    <a id="lva-activities" class='btn btn-filter {{isActive "activity-filter-1" "lva"}}' data-filter="lva" data-which="1">LVA-Team Activities</a>
  .btn-group.pull-right
    <a id="fav-activities" class='btn btn-filter {{isActive "activity-filter-2" "fav"}}' data-filter="fav" data-which="2"><i class="icon-star"></i> Favourites</a>
    <a id="saved-activities" class='btn btn-filter {{isActive "activity-filter-2" "saved"}}' data-filter="saved" data-which="2"><i class="icon-edit"></i> Saved</a>
    <a id="pending-activities" class='btn btn-filter {{isActive "activity-filter-2" "pending"}}' data-filter="pending" data-which="2"><i class="icon-share"></i> Handed-In</a>
    <a id="done-activities" class='btn btn-filter {{isActive "activity-filter-2" "done"}}' data-filter="done" data-which="2"><i class="icon-check"></i> Evaluated</a>
  .clearfix
  {{> tagFilter }}

  .activity.create#create
    .well
      .text
        %h4
          %a.open Create New Activity
        %p Create an activity that others can accomplish

  {{#each activities}}
  {{> activity}}
  {{else}}
  {{#if noContent}}
  .alert.pull-left
    %strong Warning! 
    No activities matching the selection
  {{else}}
  {{> loading}}
  {{/if}}
  {{/each}}

  .modal.activity-modal.hide.create-modal
    {{> createActivityModal}}

  .modal.activity-modal.hide.accomplish-modal
    {{> accomplishActivityModal}}

  .clearfix
