// Grays
// -------------------------
@black:                 #000;
@grayDarker:            #222;
@grayDark:              #333;
@gray:                  #555;
@grayLight:             #999;
@grayLighter:           #eee;
@white:                 #fff;


// Accent colors
// -------------------------
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #4dc206;
@red:                   #f70852;
@yellow:                #f7be08;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

@iconSize: 75px;
@iconSizeSmall: 60px;

body {
  padding: 65px 20px;
  background: @grayLighter;
  overflow-y: scroll;
  overflow-x: hidden;

  @media (max-width: 768px) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
}

.nested {
  margin-top: 15px;
  padding-left: 13px;
  margin-left: 12px;
  border-left: 5px solid @grayLight;
}

.nested.accepted {
  border-color: @blue;
}

.nested.completed {
  border-color: @green;
}

.nested.uncompleted {
  border-color: @red;
}

.hero-unit {
  //background: lighten(@grayLighter, 5%);
  //background-position: center center;
  //background-size: cover;
}

//// http://www.sxc.hu/photo/1052285
//.hero-unit-home {
//  background-image: url('/img/home.jpg');
//  color: @white;
//}
//
//// http://www.sxc.hu/photo/1387131
//.hero-unit-explore {
//  background-image: url('/img/explore.jpg');
//  color: @black;
//}
//
//// http://www.sxc.hu/photo/909773
//.hero-unit-user {
//  background-image: url('/img/profile.jpg');
//  color: @white;
//}
//
//// http://www.sxc.hu/photo/1005830
//.hero-unit-newAchievement {
//  background-image: url('/img/create.jpg');
//  color: @white;
//}

.nav a {
  cursor: pointer;
}

.achievement {
  .icon {
    width: @iconSize;
    height: @iconSize;
    background-image: url('/img/bg_new.png');
    background-size: @iconSize @iconSize;
    //box-sizing: border-box;
    //border: 2px solid @red;

    img {
      border-radius: 5px;
      width: 100%;
      height: 100%;
    }

    @media (max-width: 480px) {
      width: @iconSizeSmall;
      height: @iconSizeSmall;
      background-size: @iconSizeSmall @iconSizeSmall;
    }
  }
}

.pill {
  display: block;
  position: relative;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  //border: 1px solid darken(@grayLighter, 5%);
  background: darken(@grayLighter, 5%);

  a {
    color: @gray;
    text-decoration: none;
  }

  .nav-pills {
    background-color: inherit;
    position: absolute;
    margin: 0;
    top: 2px;
    right: 2px;

    .passive {
      display: none;
    }
  }

  .nav-pills > li > a:hover {
    background-color: rgba(255,255,255,0.25);
  }

  .nav-pills > .active > a, .nav-pills > .active > a:hover {
    background-color: rgba(0,0,0,0.25);
  }

  blockquote {
    border-color: rgba(0,0,0,0.33);
    margin-bottom: 0;
  }

  .muted {
    color: rgba(0,0,0,0.33);
    i {
      opacity: 0.33;
    }
  }
}

.pill:hover {
  background: darken(@grayLighter, 10%);
}

.pill.inbetween {
  margin-top: 10px;
  .lead {
    margin-bottom: 0;
  }
}
.pill.inbetween:hover {
  background: darken(@grayLighter, 5%);
}

.pill.accepted, .breadcrumb .accepted {
  a {
    color: @blue
  }
}

.pill.completed, .breadcrumb .completed {
  a {
    color: @green
  }
}

.pill.uncompleted, .breadcrumb .uncompleted {
  a {
    color: @red
  }
}

.achievement.preview {
  cursor: default;
  background: transparent;
}

.pill.selected {
  background: @red;
  color: lighten(@red, 45%);
  border-color: @red;
  a {
    color: darken(@red, 15%);
  }
  .nav i {
    background-image: url('/img/glyphicons-halflings-white.png');
  }
}

.pill.selected.accepted {
  background: @blue;
  color: lighten(@blue, 45%);
  border-color: @blue;
  a {
    color: darken(@blue, 15%);
  }
}

.pill.selected.completed {
  background: @green;
  color: lighten(@green, 45%);
  border-color: @green;
  a {
    color: darken(@green, 15%);
  }
}

.navbar {
  .divider-vertical {
    margin: 0;
  }

  .passive {
    opacity: 0.6;
    a {
      cursor: default!important;
    }
  }
}

.actionbar {
  .spell-name, .passive {
    display: none!important;
  }
}

.navbar-inverse {
  i {
    background-image: url('/img/glyphicons-halflings-white.png');
  }
  @media (min-width: 768px) {
    .dropdown-menu i {
      background-image: url('/img/glyphicons-halflings.png');
    }
  }
}

.navbar-fixed-top {
  @media (max-width: 768px) {
    i {
      float: right;
    }
  }

  .score {
    font-size: 24px;
  }

  .profile-pic {
    padding: 3px!important;
    img {
      width: 34px;
      height: 34px;
    }
  }

  .profile-pic:hover, .score:hover {
    background: transparent!important;
  }

  .brand {
    display: block;
    position: relative;
    float: left;
    height: 34px;
    width: 34px;
    padding: 3px;
    margin: 0 10px 0 10px;
    background: url('/img/logo128.png') no-repeat;
    background-size: cover;
    .notify {
      position: absolute;
      top: 3px;
      left: 30px;
      z-index: 1040;
      background: @green;
      color: #fff;
    }
    @media (max-width: 768px) {
      cursor: pointer;
    }
  }

  .passive {
    @media (max-width: 768px) {
      display: none;
    }
  }

  .xp-bar {
    text-align: center;

    .progress {
      margin: 0;
      border-radius: 0;
      height: 4px;
      background: #ebebeb;
      border-bottom: 1px solid rgba(0, 0, 0, 0.10);
      overflow: visible;
      //@include transition(height 0.2s linear);

      .bar {
        height: 4px;
        //@include transition(height 0.2s linear);
      }
    }
    .label {
      position: relative;
      top: -14px;
      background-color: @green;
    }
  }
}

.user-banner {
  margin-bottom: 35px;
  .xp-bar {
    text-align: center;
    .progress {
      box-shadow: none;
    }
    .label {
      position: relative;
      top: -41px;
    }
    margin-bottom: -30px;
  }
}

.stacked-pills {
  margin-top: 25px;
}

.stacked-pills:first-child {
  margin-top: 0;
}

.stacked-pills .pill {
  border-radius: 0;
  border-bottom: 1px solid darken(@grayLighter, 10%);
  margin-top: 0!important;
}

.stacked-pills .pill:first-child {
  border-radius: 5px 5px 0 0;
  border-bottom: 1px solid darken(@grayLighter, 10%);
}

.stacked-pills .pill:last-child {
  border-radius: 0 0 5px 5px;
  border-bottom: none;
}

.textarea-100 {
  width: 100%;
  box-sizing: border-box;
}

.story {
  h1, h2, h3, h4, h5, h6 {
    font-size: 14px; 
    line-height: 20px;
  }

  .lead {
    font-size: 18px;
    margin-bottom: 10px;
  }
}

.phantom {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
  }
}
