<template name='achievement'>
  <div class="media achievement pill {{#if selected}}selected{{/if}} {{color}}">
    <a class="icon pull-left"></a>
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>

      <span><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span><i class="icon-comment"/> {{comments}}</span>
      <span><i class="icon-star"/> {{favourites}}</span>
      <span><i class="icon-certificate"/> {{accomplishments}}</span>
      <span class="muted">Level: {{level}}</span>
      <span class="muted">XP: {{value}}</span>

      {{#if selected}}
        <ul class="nav nav-pills hidden-phone">
          {{> actionbar}}
        <ul>
      {{/if}}
    </div>
  </div>

  {{#if hasBeenSelected}}
    <div class="nested {{color}}">
      {{#each successors}}
        {{> achievement}}
      {{/each}}

      {{#if hasMore}} 
        {{> loadMore}}
      {{/if}}
    </div>
  {{/if}}
</template>
