<template name='actionbar'>
  {{#each skills}}
    <li class="divider-vertical"></li>
    <li class="{{#if active}}active{{/if}} {{#unless usable}}passive{{/unless}}">
      <a {{#if usable}}{{#if url}}href="/{{url}}"{{/if}}{{/if}} class="spell" title="{{name}}" rel="popover" data-original-title="{{name}}" data-content="{{description}}<div class='muted'>{{cooldownText}}</div>">
        <i class="icon-{{icon}}" />
        <span class="spell-name visible-phone">{{name}}</span>
      </a>
    </li>
  {{/each}}
  <li class="divider-vertical"></li>
</template>
