<template name="afx">
  {{#if targetAchievement}}
    {{#with targetAchievement}} 
      {{> singleAchievement}} 
    {{/with}}
  {{else}}

  {{#if targetAccomplishment}}
    {{#with targetAccomplishment}} 
      {{> singleAccomplishment}} 
    {{/with}}
  {{else}}

  {{#if targetComment}}
    {{#with targetComment}} 
      {{> singleComment}}
    {{/with}}
  {{else}}

  {{#if targetUser}}
    {{#with targetUser}}
      {{> profile}}
    {{/with}}

  {{else}}
    {{> sort}}
    {{> scope}}

  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
</template>
