<template name='badgeAchievement'>
  <div class="media achievement badge2 pill {{#if selected}}selected{{/if}} {{color}}">
    <a class="icon pull-left"></a>
    {{#if selected}}
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>

      <span><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span><i class="icon-comment"/> {{comments}}</span>
      <span><i class="icon-star"/> {{favourites}}</span>
      <span><i class="icon-certificate"/> {{accomplishments}}</span>
      <span class="muted">Level: {{level}}</span>
      <span class="muted">XP: {{value}}</span>

      <ul class="nav nav-pills hidden-phone">
        {{> actionbar}}
      <ul>

    </div>
    {{/if}}
  </div>
  {{#if selected}}
    {{#if hasBeenAccomplished}}
      <div class="clearfix"/>
      <div style="margin-top: 15px">
        <textarea id="accomplished-{{_id}}" placeholder="{{strings "howAreYouFeeling"}}" id="story" class="textarea-100" data-field="story" rows="3"></textarea>
        <button class="add-story btn btn-primary pull-right">{{strings "ok"}}</button>
        <p class="lead pull-right" style="margin-right: 10px">{{#isolate}}{{remainingChars}}{{/isolate}}</p>
        <input id="" name="" class="input-file" type="file" accept="image/x-png, image/gif, image/jpeg"/>
        <div class="clearfix"/>
      </div>
    {{/if}}
  {{/if}}
</template>
