<template name='baseAchievement'>
  <div class="media achievement pill click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    <div class="certificate pull-right">
      <a class="value">{{value}}</a>
    </div>
    <a class="icon pull-left" style="background-image: url('{{icon}}')" />
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>
      <span class="muted"><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span class="muted"><i class="icon-comment"/> {{comments}}</span>
      <span class="muted"><i class="icon-star"/> {{favourites}}</span>
      <span class="muted"><i class="icon-lock"/> {{accomplishments}}</span>

      {{#if selected}}
        <ul class="nav nav-pills hidden-phone">
          {{> actionbar}}
        <ul>
      {{/if}}
    </div>
  </div>
  {{#if selected}}
    {{#if equals "accomplished" _id}}
      {{> newStory}}
    {{/if}}
    {{#if equals "comment" _id}}
      {{> newComment}}
    {{/if}}
  {{/if}}
  {{#if equals "reply" _id}}
    <div class="nested">
      {{> newAch}}
    </div>
  {{/if}}
</template>
