<template name='baseAchievement'>
  <article class="media achievement pill click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    <div class="certificate pull-right">
      <a class="value">{{value}}</a>
    </div>
    <a class="icon pull-left" style="background-image: url('{{badge}}')" />
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>


      <ul class="spells" data-id="{{_id}}">
        {{#each skills}}
          <li class="spell muted {{active ../_id}}" >
            <a {{#if hasUrl}}href="/{{url ../../_id ../../type}}"{{/if}}> 
              <i title="{{name}}" class="icon-{{icon}}"/> {{num ..}}
            </a>
          </li>
        {{/each}}
      </ul>

    </div>
  </article>

  {{#if equals "accomplished" _id}}
    {{> newStory}}
  {{/if}}

  {{#if equals "comment" _id}}
    {{> newComment}}
  {{/if}}

  {{#if equals "reply" _id}}
    <div class="nested">
      {{> newAch}}
    </div>
  {{/if}}

</template>
