<template name='baseAchievement'>
  <div class="media achievement pill {{#if selected}}selected{{/if}} {{color}}">
    <a class="icon pull-left"></a>
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>

      <span><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span><i class="icon-comment"/> {{comments}}</span>
      <span><i class="icon-star"/> {{favourites}}</span>
      <span><i class="icon-certificate"/> {{accomplishments}}</span>
      <small class="muted">Level: {{level}}</small>
      <small class="muted">XP: {{value}}</small>

      {{#if selected}}
        <ul class="nav nav-pills hidden-phone">
          {{> actionbar}}
        <ul>
      {{/if}}
    </div>
  </div>
  {{#if selected}}
  {{#if hasBeenAccomplished}}
    <div class="pill" style="margin-top:10px">
      <textarea id="accomplished-{{_id}}" placeholder="{{strings "howAreYouFeeling"}}" id="story" class="textarea-100" data-field="story" rows="3">{{story}}</textarea>
      <button class="add-story btn btn-primary pull-right">{{strings "ok"}}</button>
      <p class="lead pull-right" style="margin-right: 10px">{{#isolate}}{{remainingChars}}{{/isolate}}</p>
      <a class="btn phantom">
        <i class="icon-camera"/>
        <input id="" name="" class="input-file" type="file" accept="image/x-png, image/gif, image/jpeg"/>
      </a>
    </div>
  {{/if}}
  {{/if}}
</template>
