<template name='comment'>
  <div class="stacked-pills">
    {{#if user}}
      {{#with user}}
        {{> miniUser}}
      {{/with}}
    {{/if}}

    {{#isolate}}
      <article class="comment pill">
        <div class="markdown">
          {{#markdown}}{{text}}{{/markdown}}
        </div>
      </article>

      <a class="pill click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
        <p class="pull-right muted">{{timeago date}}</p>

        <ul class="spells" data-id="{{_id}}">
          {{#each skills}}
            {{#if usable ../_id ../type}}
              <li class="spell muted {{active ../../_id}}">
                <a {{#if hasUrl}}href="/{{url ../../../_id ../../../type}}"{{/if}}>
                  <i title="{{name}}" class="icon-{{icon}}"/> {{num ../..}}
                </a>
              </li>
            {{/if}}
          {{/each}}
        </ul>
      </a>

      {{#if equals "comment" _id}}
        {{> newComment}}
      {{/if}}
    {{/isolate}}
  </div>

  {{#if successors}}
    <div class="nested {{color}}">
      {{#each successors}}
        {{> comment}}
      {{/each}}

      {{#if hasMore}} 
        {{> loadMore}}
      {{/if}}
    </div>
  {{/if}}
</template>
