<!--<input id="filter" class="search-query" type="text" placeholder="Search" value="{{query}}" />-->

<template name='sort'>
  <h3>Filter</h3>
  <h4>Sort</h4>
  <select class="sort">
    <option value="hot" {{sel "hot"}}>{{strings "hot"}}</option>
    <option value="best" {{sel "best"}}>{{strings "best"}}</option>
    <option value="new" {{sel "new"}}>{{strings "new"}}</option>
    <option value="old" {{sel "old"}}>{{strings "old"}}</option>
  </select>
</template>

<template name='scope'>
  <h4>Scope</h4>
  <select class="scope">
    <option value="all" {{sel "all"}}>{{strings "all"}}</option>
    <option value="me" {{sel "me"}}>{{strings "me"}}</option>
  </select>
</template>
