<template name='navbar'>
  <div class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
      <ul class="nav pull-right">
      {{#if currentUser}}
        {{#if currentUser.profile}}
          {{#with currentUser}}
            <li><a class="score">{{profile.xp}}</a></li> 
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="profile-pic dropdown-toggle" data-toggle="dropdown">
                <img src='https://graph.facebook.com/{{profile.username}}/picture'/>
              </a>
              <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
                <li><a href="/user/{{_id}}">{{strings "profile"}}</a></li>
                <li class="divider"></li>
                <li><a id="log-out">{{strings "signOut"}}</a></li>
              </ul>
            </li> 
          {{/with}}
        {{/if}}
      {{else}}
        <li style="margin-top: 6px; margin-right: 6px">
          {{loginButtons}}
        </li>
      {{/if}}
      </ul>

      {{#if numNotifications}}
      <a class="brand" href="/notification" title="{{strings "title"}}">
        <span class="label notify">{{numNotifications}}</span>
      </a>
      {{else}}
        <a class="brand" title="{{strings "title"}}" data-toggle="collapse" data-target=".nav-collapse"></a>
      {{/if}}

      <div class="nav-collapse collapse">
        <ul class="nav" style="margin-right: 0">
          {{#each nav}}
            <li class="divider-vertical"></li>
            <li class="{{#if active}}active{{/if}} {{#unless usable}}passive{{/unless}}">
              <a href="/{{url}}" class="spell" title="{{name}}" rel="popover" data-original-title="{{name}}" data-content="{{description}}<div class='muted'>{{cooldownText}}</div">
                <i class="icon-{{icon}}" />
                <span class="spell-name">{{name}}</span>
              </a>
            </li>
          {{/each}}
          <li class="divider-vertical"></li>
        </ul>
      </div>
    </div>
    {{#with currentUser}}
      {{> progress}}
    {{/with}}
  </div>
</template>

