<template name='newAch'>
  <div class="media achievement pill preview inbetween">
    <span class="icon pull-left" style="background-image: url('{{#if imgur}}{{source}}{{else}}/img/bg_new.png{{/if}}')">
      <a class="btn phantom">
        <i class="icon-camera"/>
        <input id="icon" name="icon" class="input-file" type="file" accept="image/x-png, image/gif, image/jpeg, image/png"/>
      </a>
    </span>
    <div class="media-body">
      <input id="title-{{_id}}" class="title-input textarea-100" type="text" data-field="title" value="{{title}}" placeholder="{{strings "titleHelp"}}"/>
      <input id="description-{{_id}}" class="description-input textarea-100" type="text" data-field="description" value="{{description}}" placeholder="{{strings "descriptionHelp"}}"/>
      <span class="muted"><i class="icon-arrow-up"/> {{votes}}</span>
      <span class="muted"><i class="icon-comment"/> {{comments}}</span>
      <span class="muted"><i class="icon-star"/> {{favourites}}</span>
      <span class="muted"><i class="icon-lock"/> {{accomplishments}}</span>
    </div>
    <button id="create-{{_id}}" class="btn-create btn btn-primary pull-right">{{strings "newAchievement"}}</button>
  </div>
</template>
