<template name='newAchievement'>
  <h3>Preview</h3>
  <div style="margin-bottom: 30px">
    {{#if parentAchievement}}
      {{#with parentAchievement}}
        {{> baseAchievement}}
      {{/with}}
      <div class="nested">
        {{#with newAchievement}}
          {{> previewAchievement}}
        {{/with}}
      </div>
    {{else}}
      {{#with newAchievement}}
        {{> previewAchievement}}
      {{/with}}
    {{/if}}
  </div>

  <h3>Edit</h3>
  {{#with newAchievement}}
    <div id="form-{{_id}}" class="form">
      <fieldset>
        <div class="control-group">
          <label class="control-label" for="icon">Icon</label>
          <div class="controls">
            <a class="btn phantom">
              <i class="icon-camera"/>
              <input id="icon" name="icon" class="input-file" type="file" accept="image/x-png, image/gif, image/jpeg, image/png"/>
            </a>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="title">Title</label>
          <div class="controls">
            <input id="title" class="span5" type="text" data-field="title" value="{{title}}"/>
            <p class="help-block muted">{{strings "titleHelp"}}</p>
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="description">Description</label>
          <div class="controls">
            <textarea id="description" class="span6" data-field="description" rows="4">{{description}}</textarea>
            <p class="help-block muted">{{strings "descriptionHelp"}}</p>
          </div>
        </div>

        {{#isolate}}
        <footer class="form-actions">
          <button id="new-achievement" class="btn btn-primary"> {{strings "newAchievement"}}
        </footer>
        {{/isolate}}
      </fieldset>
    </div>
  {{/with}}
</template>
