<template name='newStory'>
  <div class="pill inbetween">
    <textarea class="accomplished-{{_id}} textarea-100" name="accomplished-{{_id}}" placeholder="{{strings "howAreYouFeeling"}}" data-field="story" rows="3">{{story}}</textarea>
    <button class="add-story btn btn-primary pull-right">{{strings "ok"}}</button>
    <a class="btn phantom">
      <i class="icon-camera"/>
      <input class="input-file" type="file" accept="image/x-png, image/gif, image/jpeg, image/png"/>
    </a>
    <div class="clearfix"/>
  </div>
</template>
