<template name='notification'>
  {{#with user}} 
    <a class="usr pointer pull-left" title="{{profile.username}}">
      <img style="width:30px; height:30px; border-radius: 2px;" src="https://graph.facebook.com/{{profile.username}}/picture">
    </a>
  {{/with}}

  {{#if type entityType "comment"}}
    {{#with entityObject}}
      <a class='btn pull-left' title='commented'>
        <i class='icon-comment'></i>
      </a>
    {{/with}}
  {{/if}}
  {{#if type entityType "vote"}}
    {{#with entityObject}}
    <a class='btn disabled pull-left' title='voted'>
      <i class='icon-arrow-up'></i>
    </a>
    {{/with}}
  {{/if}}
  {{#if type entityType "favourite"}}
    {{#with entityObject}}
    <a class='btn disabled pull-left' title='stared'>
      <i class='icon-star'></i>
    </a>
    {{/with}}
  {{/if}}
  {{#if type entityType "accomplishment"}}
    {{#with entityObject}}
    <a class='btn pointer pull-left' title='unlocked'>
      <i class='icon-lock'></i>
    </a>
    {{/with}}
  {{/if}}

  {{#with targetUser}} 
  <a class="usr pull-left" title="{{profile.username}}'s">
      <img style="width:30px; height:30px; border-radius: 2px;" src="https://graph.facebook.com/{{profile.username}}/picture">
    </a>
  {{/with}}

  {{#if type targetType "comment"}}
    {{#with targetEntityObject}}
    <a class='btn pull-left' title='{{strings "comment"}}'>
      <i class='icon-comment'></i> 
     </a>
    {{/with}}
  {{/if}}
  {{#if type targetType "vote"}}
    {{#with targetEntityObject}}
    <a class='btn disabled pull-left' title='{{strings "vote"}}'>
      <i class='icon-arrow-up'></i>
    </a>
    {{/with}}
  {{/if}}
  {{#if type targetType "achievement"}}
    {{#with targetEntityObject}}
    <a class='btn pull-left' itle='{{strings "achievement"}}'>
      <i class='icon-certificate'></i>
    </a>
    {{/with}}
  {{/if}}
  {{#if type targetType "accomplishment"}}
    {{#with targetEntityObject}}
    <a class='btn pull-left' title='{{strings "accomplishment"}}'>
      <i class='icon-lock'></i>
    </a>
    {{/with}}
  {{/if}}
  <span class='muted pull-right'>{{timeago date}}</span>
</template>
