<template name="page">
  {{> navbar}}

  <div class="main-row row-fluid">
    {{#if equals "page" "home"}}
      <div class="span6 stories">
        {{> onescore}}

        <h3>{{strings "home"}}</h3>
        <p class="muted">{{strings "homeDesc"}}</p>
        {{> home}}
      </div>
    {{else}}

    {{#if equals "page" "notification"}}
      <div class="span6">
        <h3>{{strings "notifications"}}</h3>
        <p class="muted">{{strings "notificationDesc"}}</p>
        {{> notifications}}
      </div>
    {{else}}


    {{#if equals "page" "explore"}}
      <div class="span6">
        <h3>{{strings "explore"}}</h3>
        <p class="muted">{{strings "exploreDesc"}}</p>
        {{> explore}}
      </div>
    {{else}}

    {{#if equals "page" "ladder"}}
      <div class="span6">
        <h3>{{strings "ladder"}}</h3>
        <p class="muted">{{strings "ladderDesc"}}</p>
        {{> ladder}}
      </div>
    {{else}}

    {{#if equals "page" "user"}}
      <div class="span6">
        {{#with user}}
          {{> userBanner}}
          {{> profile}}
        {{/with}}
      </div>
    {{else}}

    {{#if equals "page" "achievement"}}
      <div class="span6">
        {{#with entity}}
          {{> quickAchievement}}
          {{> singleAchievement}}
        {{/with}}
      </div>
    {{else}}

    {{#if equals "page" "accomplishment"}}
      <div class="span6">
        {{#with entity}}
          {{> otherAccomplishment}}
          {{> singleAccomplishment}}
        {{/with}}
      </div>
    {{else}}

    {{#if equals "page" "comment"}}
      <div class="span6">
        {{#with entity}}
          {{> singleComment}}
        {{/with}}
      </div>
    {{else}}

    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    {{/if}}
    <aside class="afx hidden-phone">
      <div class="hide-scrollbar">
        {{> afx}}
      </div>
    </aside>
  </div>

  <nav class="actionbar navbar navbar-fixed-bottom">
    <div class="navbar-inner">
      <ul class="nav">
        {{> actionbar}}
      </ul>
    </div>
  </nav>
</template>
