<template name='page'>
  {{> navbar}}

  <div class="row-fluid">
  {{#if equals "page" "home"}}
    <div class="span6 stories">
      <h3>Stories</h3>
      {{> home}}
    </div>
    <div class="offset6 span6 afx hidden-phone">
      <div class="hide-scrollbar">
        {{#isolate}}
          {{#if targetAchievement}}
            {{> breadcrumbs}}
            {{#with targetAchievement}} {{> singleAchievement}} {{/with}}
          {{else}}
            {{#if targetAccomplishment}}
              {{#with targetAccomplishment}} {{> singleAccomplishment}} {{/with}}
            {{else}}
              {{#if targetUser}}
                {{#with targetUser}} {{> profile}} {{/with}}
              {{else}}
                {{> sort}}
                {{> scope}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/isolate}}
      </div>
    </div>
  {{else}}

  {{#if equals "page" "notification"}}
    <div class="span6">
      <h3>Notifications</h3>
      {{> notifications}}
    </div>
    <div class="offset6 span6 afx hidden-phone">
      <div class="hide-scrollbar">
      </div>
    </div>
  {{else}}


  {{#if equals "page" "explore"}}
    <div class="span6">
      <h3>Achievements</h3>
      {{> achievements}}
    </div>
    <div class="offset6 span6 afx hidden-phone">
      <div class="hide-scrollbar">
        {{#isolate}}
          {{#if targetAchievement}}
            {{> breadcrumbs}}
            {{#with targetAchievement}} {{> singleAchievement}} {{/with}}
          {{else}}
            {{#if targetAccomplishment}}
              {{#with targetAccomplishment}} {{> singleAccomplishment}} {{/with}}
            {{else}}
              {{#if targetUser}}
                {{#with targetUser}} {{> profile}} {{/with}}
              {{else}}
                {{> sort}}
                {{> scope}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/isolate}}
      </div>
    </div>
  {{else}}

  {{#if equals "page" "ladder"}}
    <div class="span8">
      {{> ladder}}
    </div>
    <div class="span4 hidden-phone">
      {{> noContent}}
    </div>
  {{else}}

  {{#if equals "page" "user"}}
    <div class="span6">
      {{#if user}}
        {{#with user}}
          {{> profile}}
        {{/with}}
      {{/if}}
    </div>
    <div class="offset6 span6 afx hidden-phone">
      <div class="hide-scrollbar">
        {{#isolate}}
          {{#if targetAchievement}}
            {{> breadcrumbs}}
            {{#with targetAchievement}} {{> singleAchievement}} {{/with}}
          {{else}}
            {{#if targetAccomplishment}}
              {{#with targetAccomplishment}} {{> singleAccomplishment}} {{/with}}
            {{else}}
              {{#if targetUser}}
                {{#with targetUser}} {{> profile}} {{/with}}
              {{else}}
                {{> sort}}
                {{> scope}}
              {{/if}}
            {{/if}}
          {{/if}}
        {{/isolate}}
      </div>
    </div>
  {{else}}

  {{#if equals "page" "questlog"}}
    <div class="span8">
      {{> noContent}}
    </div>
    <div class="span4 hidden-phone">
      {{> noContent}}
    </div>
  {{else}}

  {{#if equals "page" "newAchievement"}}
    <div class="span8">
      {{> newAchievement}}
    </div>
    <div class="span4 hidden-phone">
      {{> styleGuide}}
    </div>
  {{else}}

  {{#if equals "page" "achievement"}}
    <div class="span8 offset2">
      {{#if entity}}
        {{> breadcrumbs}}
        {{#with entity}}
          {{> singleAchievement}}
        {{/with}}
      {{/if}}
    </div>
  {{else}}

  {{#if equals "page" "accomplishment"}}
    <div class="span8 offset2">
      {{#if entity}}
        {{#with entity}}
          {{> singleAccomplishment}}
        {{/with}}
      {{/if}}
    </div>
  {{else}}

  {{#if equals "page" "comment"}}
    <div class="span8 offset2">
      {{#if entity}}
        {{> breadcrumbs}}
        {{#with entity}}
          {{> comment}}
        {{/with}}
      {{/if}}
    </div>
  {{else}}

  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  {{/if}}
  </div>

  <div class="actionbar navbar navbar-fixed-bottom visible-phone">
    <div class="navbar-inner">
      <ul class="nav">
        {{> actionbar}}
      </ul>
    </div>
  </div>
</template>

<template name='skill'>
  <div class="hero-unit hero-unit-{{_id}}">
    <h1>{{name}}</h1>
    <p>{{description}}</p>
  </div>
</template>
