<template name='previewAchievement'>
  <div class="media achievement pill preview">
    <a class="icon pull-left" style="background-image: url('{{#if imgur}}{{source}}{{else}}/img/bg_new.png{{/if}}')"></a>
    <div class="media-body">
      <h4 class="media-heading"><a>{{title}}</a></h4>
      <p>{{description}}</p>
      <span class="muted"><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span class="muted"><i class="icon-comment"/> {{comments}}</span>
      <span class="muted"><i class="icon-star"/> {{favourites}}</span>
      <span class="muted"><i class="icon-certificate"/> {{accomplishments}}</span>
      <span class="muted">+XP: {{value}}</span>
    </div>
  </div>
</template>
