<template name='profile'>
  {{> userBanner}}

  <ul class="nav nav-tabs" style="margin-top: 20px">
    <li class="{{#if equals "tab-user" "unlocks"}}active{{/if}}">
      <a href="/user/{{_id}}/unlocks" data-tab="unlocks">{{strings "achievers"}}</a>
    </li>
    {{#if hasLevel "questlog"}}
    <li class="{{#if equals "tab-user" "questlog"}}active{{/if}}">
      <a href="/user/{{_id}}/questlog" data-tab="questlog">{{strings "questlog"}}</a>
    </li>
    {{/if}}
    {{#if hasLevel "notifications"}}
    <li class="{{#if equals "tab-user" "activity"}}active{{/if}}">
      <a href="/user/{{_id}}/activity" data-tab="activity">{{strings "activity"}}</a>
    </li>
    {{/if}}
  </ul>

  {{#if equals "tab-user" "unlocks"}}
  {{#each accomplishments}}
    {{> accomplishment}}
  {{else}}
    {{> noContent}}
  {{/each}}

  {{#if hasMore}}
    {{> loadMore}}
  {{/if}}
  {{/if}}

  {{#if equals "tab-user" "questlog"}}
  {{#each quests}}
  {{#with achievement}}
    {{> baseAchievement}}
  {{/with}}
  {{else}}
    {{> noContent}}
  {{/each}}

  {{#if hasMoreQuests}}
    {{> loadMore}}
  {{/if}}
  {{/if}}

  {{#if equals "tab-user" "activity"}}
  <table class='notifications ladder table'>
    <thead>
      <tr>
        <th>You > Action > Target User > Target</th>
        <th style="text-align: right">Time</th>
      </tr>
    </thead>
    <tbody>
      {{#each activity}}
        <tr>
          {{> notification}}
        </tr>
      {{else}}
        <tr>
          {{> noContent}}
        </tr>
      {{/each}}
    </tbody>
  </table>
  {{/if}}
</template>

