<template name='profile'>
  {{#if user}}
  {{#with user}}
    {{> userBanner}}
  {{/with}}
  {{/if}}

  {{#each accomplishments}}
    {{#if hasStory}}
      <div class="clearfix"/>
      {{> accomplishment}}
    {{else}}
      {{#if isFavourite}}
        {{#with achievement}}
          <div class="clearfix"/>
          {{> baseAchievement}}
        {{/with}}
      {{else}}
        {{#with achievement}}
          {{> badgeAchievement}}
        {{/with}}
      {{/if}}
    {{/if}}
  {{else}}
    {{> noContent}}
  {{/each}}
  <div class="clearfix"/>

  {{#if hasMore}}
    {{> loadMore}}
  {{/if}}
</template>

