<template name='protoAccomplishment'>
  <article class="story media pill">
    {{#with user}}
      <a class="usr pointer pull-left {{#if selected}}selected{{/if}} {{color}}" title="{{profile.username}}">
        <img class="media-object" src="https://graph.facebook.com/{{profile.username}}/picture">
      </a>
    {{/with}}
    <div class="media-body">
      {{#with user}}
        <h5 class="media-heading">
            {{profile.username}}
        </h5>
      {{/with}}
      {{> story}}
    </div>
  </article>
  {{> storyBar}}
</template>
