<template name='singleAchievement'>
  {{> achievement}}

  <h3>{{strings "achievers"}}</h3>
  <div>
    {{#each achievers}}
      <div class="stacked-pills">
        {{> protoAccomplishment}}
      </div>
    {{else}}
      {{> noContent}}
    {{/each}}

    {{#if hasMore}}
      {{> loadMore}}
    {{/if}}
  </div>

  <h3>{{strings "comments"}}</h3>
  <div>
    {{#each comments}}
      {{> comment}}
    {{else}}
      {{> noContent}}
    {{/each}}
  </div>

  <h3>{{strings "voters"}}</h3>
  <div>
    {{#each voters}}
      {{> miniUser}}
    {{else}}
      {{> noContent}}
    {{/each}}
  </div>
</template>
