<template name='singleAchievement'>
  <ul class="nav nav-tabs">
    <li class="{{#if equals "tab-achievement" "info"}}active{{/if}}">
      <a href="/achievement/{{_id}}/info" data-tab="info">{{strings "info"}}</a>
    </li>
    <li class="{{#if equals "tab-achievement" "unlocks"}}active{{/if}}">
      <a href="/achievement/{{_id}}/unlocks" data-tab="unlocks">{{strings "achievers"}}</a>
    </li>
    <li class="{{#if equals "tab-achievement" "people"}}active{{/if}}">
      <a href="/achievement/{{_id}}/people" data-tab="people">{{strings "people"}}</a>
    </li>
    {{#if hasLevel "comment"}}
    <li class="{{#if equals "tab-achievement" "comments"}}active{{/if}}">
      <a href="/achievement/{{_id}}/comments" data-tab="comments">{{strings "comments"}}</a>
    </li>
    {{/if}}
  </ul>

  {{#if equals "tab-achievement" "info"}}
    <div>
      {{> quickAchievement}}
    </div>
  {{/if}}

  {{#if equals "tab-achievement" "unlocks"}}
  <div>
    {{#each unlocks}}
      <div class="stacked-pills">
        {{> protoAccomplishment}}
      </div>
    {{else}}
      {{> noContent}}
    {{/each}}

    {{#if hasMore}}
      {{> loadMore}}
    {{/if}}
  </div>
  {{/if}}

  {{#if equals "tab-achievement" "comments"}}
    <div>
      {{#each comments}}
        {{> comment}}
      {{else}}
        {{> noContent}}
      {{/each}}
    </div>
  {{/if}}

  {{#if equals "tab-achievement" "people"}}
    <div class="div">
      <h4>{{strings "creator"}}</h4>
      {{#with user}}
        {{> user}}
      {{/with}}
    </div>

    <div class="div">
      <h4>{{strings "achievers"}}</h4>
      {{#each achievers}}
        {{> floatUser}}
      {{else}}
        {{> noContent}}
      {{/each}}
      <div class="clearfix"/>
    </div>

    {{#if hasLevel "questlog"}}
      <div class="div">
        <h4>{{strings "questers"}}</h4>
        {{#each questers}}
          {{> floatUser}}
        {{else}}
          {{> noContent}}
        {{/each}}
        <div class="clearfix"/>
      </div>
    {{/if}}

    {{#if hasLevel "voteUp"}}
      <div class="div">
        <h4>{{strings "voters"}}</h4>
        {{#each voters}}
          {{> floatUser}}
        {{else}}
          {{> noContent}}
        {{/each}}
        <div class="clearfix"/>
      </div>
    {{/if}}
  {{/if}}
</template>
