<template name='singleAchievement'>
  {{> achievement}}

  <h3>{{strings "achievers"}}</h3>
  <div>
    {{#each achievers}}
      {{#if story}}
        <div class="stacked-pills">
          {{> protoAccomplishment}}
        </div>
      {{else}}
        {{#if user}}
          {{#with user}}
            {{> user}}
          {{/with}}
        {{/if}}
      {{/if}}
    {{else}}
      {{> noContent}}
    {{/each}}

    {{#if hasMore}}
      {{> loadMore}}
    {{/if}}
  </div>

  <h3>{{strings "comments"}}</h3>
  <div>
    {{#each comments}}
      {{> comment}}
    {{else}}
      {{> noContent}}
    {{/each}}
  </div>
</template>
