<template name='storyBar'>
  <div class="pill click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    <p class="pull-right muted" style="margin-bottom: 10px">{{timeago date}}</p>

    <ul class="spells" data-id="{{_id}}">
      {{#each skills}}
        {{#if usable ../_id ../type}}
          <li class="spell muted {{active ../../_id}}">
            <a {{#if hasUrl}}href="/{{url ../../../_id ../../../type}}"{{/if}}>
              <i title="{{name}}" class="icon-{{icon}}"/> {{num ../..}}
            </a>
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
  {{#if equals "comment" _id}}
    {{> newComment}}
  {{/if}}
</template>
