<template name='story'>
  {{#if hasContent}} 
    <div class="story pill">
      {{#if imgur}} 
        <img src="{{image}}" style="margin-bottom: 10px" /> 
      {{/if}}
      <div class="markdown">
        {{#markdown}}{{story}}{{/markdown}}
      </div>
    </div>
  {{/if}}

  <a class="pill click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    <p class="pull-right muted" style="margin-bottom: 10px">{{timeago date}}</p>
    <div>
      <span class="muted"><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span class="muted"><i class="icon-comment"/> {{comments}}</span>
    </div>
    {{#if selected}}
      <ul class="nav nav-pills hidden-phone">
        {{> actionbar}}
      <ul>
    {{/if}}
  </a>
  {{#if selected}}
    {{#if equals "comment" _id}}
      {{> newComment}}
    {{/if}}
  {{/if}}
</template>
