<template name='story'>
  <div class="story pill {{#if selected}}selected{{/if}} {{color}}">
    {{#if isTweet}}
      <p class="lead">{{story}}</p>
    {{else}}
      {{#markdown}}{{story}}{{/markdown}}
    {{/if}}
    <small class="pull-right muted">{{timeago date}} by {{username user}}</small>
    <div style="margin-top: 10px">
      <span><i class="icon-arrow-up"/> {{votesDiff}}</span>
      <span><i class="icon-comment"/> {{comments}}</span>
    </div>
    {{#if selected}}
      <ul class="nav nav-pills hidden-phone">
        {{> actionbar}}
      <ul>
    {{/if}}
  </div>
</template>
