<template name='user'>
  <div class="pill user click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    {{#if profile}}
    <a class="profile-pic pull-left">
      <img class="media-object" style="width:45px; height:45px; border-radius: 3px; margin-right: 10px" src="https://graph.facebook.com/{{profile.username}}/picture">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a>{{profile.username}}</a></h4>

      <span class="muted">Level: {{profile.level}}</span>
      <span class="muted">{{strings "xp"}}: {{profile.xp}}</span>
      <!--<span class="muted">Cred: {{credibility}}%</span>-->

      {{#if selected}}
        <ul class="nav nav-pills hidden-phone">
          {{> actionbar}}
        <ul>
      {{/if}}

    </div>
    {{/if}}
  </div>
</template>
