<template name='user'>
  <article class="pill user click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    {{#if profile}}
    <a class="profile-pic pull-left">
      <img class="media-object" style="width:44px; height:44px; margin-right: 10px" src="https://graph.facebook.com/{{profile.username}}/picture">
    </a>
    <div class="media-body">
      <h4 class="media-heading"><a>{{profile.username}}</a></h4>

      <ul class="spells" data-id="{{_id}}">
        {{#each skills}}
          {{#if usable ../_id "user"}}
            <li class="spell muted {{active ../../_id}}">
              <a {{#if hasUrl}}href="/{{url ../../../_id "user"}}"{{/if}}>
                <i title="{{name}}" class="icon-{{icon}}"/> {{num ../..}}
              </a>
            </li>
          {{/if}}
        {{/each}}
        <li class="muted">Level: {{profile.level}}</li>
        <li class="muted">{{strings "xp"}}: {{profile.xp}}</li>
        <!--<li class="muted">Cred: {{credibility}}%</li>-->
      </ul>

    </div>
    {{/if}}
  </article>
</template>
