<template name='userBanner'>
  <div class="media pill user-banner click-me-im-famous {{#if selected}}selected{{/if}} {{color}}">
    {{#if profile}}
    <a class="profile-pic pull-left" style="width: 150px; height: 150px;">
      <img class="media-object" style="border-radius: 2px;" src="https://graph.facebook.com/{{profile.username}}/picture?width=150&height=150">
    </a>

    <div class="media-body">
      <h3 class="media-heading"><a>{{profile.username}}</a></h3>
      {{> progress}}
      <p>
        <strong>Level:</strong> {{profile.level}}
        <br/>
        <strong>XP:</strong> {{profile.xp}}
      </p>

      <span class="muted"><i class="icon-file"/> {{numAchievements}}</span>
      <span class="muted"><i class="icon-arrow-up"/> {{numVotes}}</span>
      <span class="muted"><i class="icon-star"/> {{numFavs}}</span>
      <span class="muted"><i class="icon-certificate"/> {{numAccomplishments}}</span>
      <span class="muted"><i class="icon-comment"/> {{numComments}}</span>

      {{#if selected}}
        <ul class="nav nav-pills hidden-phone">
          {{> actionbar}}
        <ul>
      {{/if}}
    </div>
    {{/if}}
  </div>
</template>
